openapi: 3.2.0
info:
  title: Grid Agent Operations API
  description: 'API for managing global payments on the open Money Grid. Built by Lightspark. See the full documentation at https://docs.lightspark.com/.

    '
  version: '2025-10-13'
  contact:
    name: Lightspark Support
    email: support@lightspark.com
  license:
    name: Proprietary
    url: https://lightspark.com/terms
servers:
- url: https://api.lightspark.com/grid/2025-10-13
  description: Production server
security:
- BasicAuth: []
- AgentAuth: []
tags:
- name: Agent Operations
  description: Endpoints called by the agent itself using its own credentials (obtained via device code redemption). Scoped to the agent's associated customer — all requests automatically operate on behalf of that customer and are subject to the agent's policy. When an action requires approval, the resulting transaction enters a pending state and must be approved by the platform via `POST /transactions/{transactionId}/approve`.
paths:
  /agents/me:
    get:
      summary: Get current agent
      description: 'Retrieve the authenticated agent''s own profile, policy, and current usage. This endpoint is called by the agent software itself using its own credentials (obtained via device code redemption) rather than platform credentials.

        '
      operationId: getAgentMe
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/transactions:
    get:
      summary: List agent transactions
      description: 'Retrieve a paginated list of transactions for the authenticated agent''s customer. Results are automatically scoped to the agent''s associated customer — no customer filter is needed or accepted.

        '
      operationId: agentListTransactions
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: accountIdentifier
        in: query
        description: Filter by account identifier (matches either sender or receiver)
        required: false
        schema:
          type: string
      - name: senderAccountIdentifier
        in: query
        description: Filter by sender account identifier
        required: false
        schema:
          type: string
      - name: receiverAccountIdentifier
        in: query
        description: Filter by receiver account identifier
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter by transaction status
        required: false
        schema:
          $ref: '#/components/schemas/TransactionStatus'
      - name: type
        in: query
        description: Filter by transaction type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionType'
      - name: reference
        in: query
        description: Filter by reference
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter by start date (inclusive) in ISO 8601 format
        required: false
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Filter by end date (inclusive) in ISO 8601 format
        required: false
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: Maximum number of results to return (default 20, max 100)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: cursor
        in: query
        description: Cursor for pagination (returned from previous request)
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        description: Order to sort results in
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/transactions/{transactionId}:
    parameters:
    - name: transactionId
      in: path
      description: Unique identifier of the transaction
      required: true
      schema:
        type: string
    get:
      summary: Get agent transaction by ID
      description: 'Retrieve a specific transaction belonging to the authenticated agent''s customer. Returns 404 if the transaction exists but belongs to a different customer.

        '
      operationId: agentGetTransaction
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionOneOf'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/quotes:
    post:
      summary: Create a transfer quote
      description: 'Generate a quote for a cross-currency transfer on behalf of the authenticated agent''s customer. Accounts referenced in the request must belong to the agent''s customer. Requires the CREATE_QUOTES permission in the agent''s policy.

        If the agent''s defaultExecutionMode is APPROVAL_REQUIRED, or the quote amount exceeds the agent''s approvalThresholds, the resulting transaction will require explicit approval before funds move.

        '
      operationId: agentCreateQuote
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: 'A unique identifier for the request. If the same key is sent multiple times, the server will return the same response as the first request.

          '
        schema:
          type: string
          example: <uuid>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
      responses:
        '201':
          description: Transfer quote created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '400':
          description: Bad request - Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden - Agent policy does not permit this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '412':
          description: Counterparty doesn't support UMA version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error412'
        '424':
          description: Counterparty issue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error424'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/quotes/{quoteId}:
    parameters:
    - name: quoteId
      in: path
      description: ID of the quote to retrieve
      required: true
      schema:
        type: string
    get:
      summary: Get agent quote by ID
      description: 'Retrieve a quote created by the authenticated agent. Returns 404 if the quote exists but was not created by this agent.

        '
      operationId: agentGetQuote
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      responses:
        '200':
          description: Quote retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Quote not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/quotes/{quoteId}/execute:
    parameters:
    - name: quoteId
      in: path
      required: true
      description: The unique identifier of the quote to execute
      schema:
        type: string
      example: Quote:019542f5-b3e7-1d02-0000-000000000001
    post:
      summary: Execute a quote
      description: 'Execute a quote created by the authenticated agent. Requires the EXECUTE_QUOTES permission in the agent''s policy.

        If the agent''s policy requires approval for this amount (based on execution mode or approval thresholds), the transaction will be created in a pending state and must be approved by the platform via `POST /agents/{agentId}/actions/{actionId}/approve`.

        Once executed, the quote cannot be cancelled.

        '
      operationId: agentExecuteQuote
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: 'A unique identifier for the request. If the same key is sent multiple times, the server will return the same response as the first request.

          '
        schema:
          type: string
          example: <uuid>
      - name: Grid-Wallet-Signature
        in: header
        required: false
        description: Full Grid wallet signature over the `payloadToSign` returned in the quote's `paymentInstructions[].accountOrWalletInfo` entry, produced with the session private key of a verified authentication credential on the source Embedded Wallet. Required when the quote's source is an internal account of type `EMBEDDED_WALLET`; ignored for other source types.
        schema:
          type: string
        example: eyJwdWJsaWNLZXkiOiIwMmExYjIuLi4iLCJzY2hlbWUiOiJTSUdOQVRVUkVfU0NIRU1FX1RLX0FQSV9QMjU2Iiwic2lnbmF0dXJlIjoiMzA0NTAyMjEwMC4uLiJ9
      responses:
        '200':
          description: 'Action submitted successfully. If the agent''s policy requires approval, the returned `AgentAction` will have status `PENDING_APPROVAL` and no `transaction` yet. If the policy permits automatic execution, status will be `APPROVED` and `transaction` will be populated. Note: if approval is required, the underlying quote may expire before the platform approves — in that case the action will transition to `FAILED`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAction'
        '400':
          description: Bad request - Quote cannot be executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized. Also returned when the quote's source is an internal account of type `EMBEDDED_WALLET` and the provided `Grid-Wallet-Signature` header is missing, malformed, or does not match the quote's `payloadToSign`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden - Agent policy does not permit this operation or spending limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Quote not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '409':
          description: Conflict - Quote already executed, expired, or in invalid state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/actions:
    get:
      summary: List agent's own actions
      description: 'Retrieve a paginated list of actions submitted by the authenticated agent. Use this to poll for approval decisions after submitting an action that requires approval.

        '
      operationId: agentListActions
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: status
        in: query
        description: Filter by action status
        required: false
        schema:
          $ref: '#/components/schemas/AgentActionStatus'
      - name: limit
        in: query
        description: Maximum number of results to return (default 20, max 100)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: cursor
        in: query
        description: Cursor for pagination (returned from previous request)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentActionListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/actions/{actionId}:
    parameters:
    - name: actionId
      in: path
      description: Unique identifier of the agent action
      required: true
      schema:
        type: string
    get:
      summary: Get an agent action
      description: 'Retrieve a specific action submitted by the authenticated agent. Poll this endpoint after submitting an action that requires approval to check whether it has been approved, rejected, or has failed.

        '
      operationId: agentGetAction
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAction'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: Action not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/transfer-in:
    post:
      summary: Create a transfer-in
      description: 'Transfer funds from an external account to an internal account for the authenticated agent''s customer. Accounts must belong to the agent''s customer. Requires the CREATE_TRANSFERS permission in the agent''s policy.

        If the agent''s policy requires approval for this amount, the transaction will be created in a pending state and must be approved by the platform via `POST /agents/{agentId}/actions/{actionId}/approve`.

        This endpoint should only be used for external account sources with pull functionality (e.g. ACH Pull). Otherwise, use the payment instructions on the internal account to deposit funds.

        '
      operationId: agentCreateTransferIn
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: 'A unique identifier for the request. If the same key is sent multiple times, the server will return the same response as the first request.

          '
        schema:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferInRequest'
            examples:
              transferIn:
                summary: Transfer from external to internal account
                value:
                  source:
                    accountId: ExternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  destination:
                    accountId: InternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  amount: 12550
      responses:
        '201':
          description: Action submitted successfully. If the agent's policy requires approval, the returned `AgentAction` will have status `PENDING_APPROVAL` and no `transaction` yet. If the policy permits automatic execution, status will be `APPROVED` and `transaction` will be populated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAction'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden - Agent policy does not permit this operation or spending limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/transfer-out:
    post:
      summary: Create a transfer-out
      description: 'Transfer funds from an internal account to an external account for the authenticated agent''s customer. Accounts must belong to the agent''s customer. Requires the CREATE_TRANSFERS permission in the agent''s policy.

        If the agent''s policy requires approval for this amount, the transaction will be created in a pending state and must be approved by the platform via `POST /agents/{agentId}/actions/{actionId}/approve`.

        '
      operationId: agentCreateTransferOut
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: 'A unique identifier for the request. If the same key is sent multiple times, the server will return the same response as the first request.

          '
        schema:
          type: string
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOutRequest'
            examples:
              transferOut:
                summary: Transfer from internal to external account
                value:
                  source:
                    accountId: InternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                  destination:
                    accountId: ExternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                  amount: 12550
      responses:
        '201':
          description: Action submitted successfully. If the agent's policy requires approval, the returned `AgentAction` will have status `PENDING_APPROVAL` and no `transaction` yet. If the policy permits automatic execution, status will be `APPROVED` and `transaction` will be populated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAction'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden - Agent policy does not permit this operation or spending limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/internal-accounts:
    get:
      summary: List agent's internal accounts
      description: 'Retrieve the internal accounts belonging to the customer this agent operates on behalf of. Use this to discover available source accounts for transfers and quotes, and to verify which accounts are accessible under the agent''s `accountRestrictions` policy.

        '
      operationId: agentListInternalAccounts
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: currency
        in: query
        description: Filter by currency code
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Filter by internal account type. Use `EMBEDDED_WALLET` to find the self-custodial wallet provisioned for the customer, or `INTERNAL_FIAT` / `INTERNAL_CRYPTO` for platform-managed holding accounts.
        required: false
        schema:
          $ref: '#/components/schemas/InternalAccountType'
      - name: limit
        in: query
        description: Maximum number of results to return (default 20, max 100)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: cursor
        in: query
        description: Cursor for pagination (returned from previous request)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalAccountListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/external-accounts:
    get:
      summary: List agent external accounts
      description: 'Retrieve a paginated list of external accounts belonging to the authenticated agent''s customer. Requires the MANAGE_EXTERNAL_ACCOUNTS permission in the agent''s policy.

        '
      operationId: agentListExternalAccounts
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      parameters:
      - name: currency
        in: query
        description: Filter by currency code
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return (default 20, max 100)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: cursor
        in: query
        description: Cursor for pagination (returned from previous request)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountListResponse'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Add an external account
      description: 'Register a new external bank account or wallet for the authenticated agent''s customer. Requires the MANAGE_EXTERNAL_ACCOUNTS permission in the agent''s policy. The `customerId` field is optional and will be inferred from the agent''s associated customer if omitted.

        '
      operationId: agentCreateExternalAccount
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAccountCreateRequest'
            examples:
              usBankAccount:
                summary: Create external US bank account
                value:
                  currency: USD
                  accountInfo:
                    accountType: USD_ACCOUNT
                    accountNumber: '12345678901'
                    routingNumber: '123456789'
                    bankAccountType: CHECKING
                    bankName: Chase Bank
                    beneficiary:
                      beneficiaryType: INDIVIDUAL
                      fullName: John Doe
                      birthDate: '1990-01-15'
                      nationality: US
                      address:
                        line1: 123 Main Street
                        city: San Francisco
                        state: CA
                        postalCode: '94105'
                        country: US
              sparkWallet:
                summary: Create external Spark wallet
                value:
                  currency: BTC
                  accountInfo:
                    accountType: SPARK_WALLET
                    address: spark1pgssyuuuhnrrdjswal5c3s3rafw9w3y5dd4cjy3duxlf7hjzkp0rqx6dj6mrhu
      responses:
        '201':
          description: External account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - External account already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /agents/me/external-accounts/{externalAccountId}:
    parameters:
    - name: externalAccountId
      in: path
      description: System-generated unique external account identifier
      required: true
      schema:
        type: string
    get:
      summary: Get agent external account by ID
      description: 'Retrieve an external account belonging to the authenticated agent''s customer. Returns 404 if the account exists but belongs to a different customer. Requires the MANAGE_EXTERNAL_ACCOUNTS permission in the agent''s policy.

        '
      operationId: agentGetExternalAccount
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    delete:
      summary: Delete agent external account
      description: 'Delete an external account belonging to the authenticated agent''s customer. Requires the MANAGE_EXTERNAL_ACCOUNTS permission in the agent''s policy.

        '
      operationId: agentDeleteExternalAccount
      tags:
      - Agent Operations
      security:
      - AgentAuth: []
      responses:
        '204':
          description: External account deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
components:
  schemas:
    AgentPolicy:
      type: object
      description: Policy governing what an agent can do, how it executes actions, and its spending boundaries.
      required:
      - permissions
      - defaultExecutionMode
      - spendingLimits
      properties:
        permissions:
          type: array
          description: List of permissions granted to the agent.
          items:
            $ref: '#/components/schemas/AgentPermission'
        defaultExecutionMode:
          $ref: '#/components/schemas/AgentExecutionMode'
        spendingLimits:
          $ref: '#/components/schemas/AgentSpendingLimits'
        accountRestrictions:
          $ref: '#/components/schemas/AgentAccountRestrictions'
        approvalThresholds:
          $ref: '#/components/schemas/AgentApprovalThresholds'
    MyrBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    HkdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/HkdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    PaymentUsdAccountInfo:
      title: USD Bank Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/UsdAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    PaymentEmbeddedWalletInfo:
      title: Embedded Wallet
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - type: object
        required:
        - accountType
        - payloadToSign
        properties:
          accountType:
            type: string
            enum:
            - EMBEDDED_WALLET
            description: Discriminator value identifying this as Embedded Wallet payment instructions.
          payloadToSign:
            type: string
            description: JSON-encoded transaction signing payload that must be stamped, as-is (byte-for-byte, without re-serialization), with the session private key of a verified authentication credential on the source Embedded Wallet. The resulting Grid wallet signature is passed as the `Grid-Wallet-Signature` header on `POST /quotes/{quoteId}/execute` to authorize the outbound transfer from the wallet.
            example: '{"type":"ACTIVITY_TYPE_SIGN_TRANSACTION_V2","timestampMs":"1746736509954","organizationId":"org_abc123","parameters":{"signWith":"wallet_abc123def456","unsignedTransaction":"ea69b4bf05f775209f26ff0a34a05569180f7936579d5c4af9377ae550194f72","type":"TRANSACTION_TYPE_ETHEREUM"},"generateAppProofs":true}'
    HkdAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - HKD_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Hong Kong bank account number
          minLength: 1
          maxLength: 34
          example: '123456789012'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: HSBCHKHHHKH
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: HKD_ACCOUNT
        bankName: Example Bank
        accountNumber: '123456789012'
        swiftCode: HSBCHKHHHKH
    UsdAccountInfoBase:
      type: object
      required:
      - accountType
      - accountNumber
      - routingNumber
      properties:
        accountType:
          type: string
          enum:
          - USD_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        routingNumber:
          type: string
          description: The ABA routing number
          example: '021000021'
          minLength: 9
          maxLength: 9
          pattern: ^[0-9]{9}$
      example:
        accountType: USD_ACCOUNT
        accountNumber: '1234567890'
        routingNumber: '021000021'
    PhpExternalAccountInfo:
      title: PHP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/PhpAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/PhpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/PhpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    EgpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/EgpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    BaseTransactionSource:
      type: object
      required:
      - sourceType
      properties:
        sourceType:
          $ref: '#/components/schemas/TransactionSourceType'
        currency:
          type: string
          description: Currency code for the source
          example: USD
    IdrAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      - phoneNumber
      properties:
        accountType:
          type: string
          enum:
          - IDR_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
          example: Bank Central Asia
        accountNumber:
          type: string
          description: Indonesian bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: CENAIDJA
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
        phoneNumber:
          type: string
          description: Indonesian phone number for e-wallet payments
          example: '+6281234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+62[0-9]{9,12}$
      example:
        accountType: IDR_ACCOUNT
        bankName: Bank Central Asia
        accountNumber: '1234567890'
        swiftCode: CENAIDJA
        phoneNumber: '+6281234567890'
    GbpExternalAccountInfo:
      title: GBP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/GbpAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/GbpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/GbpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    Error500:
      type: object
      required:
      - message
      - status
      - code
      properties:
        status:
          type: integer
          enum:
          - 500
          description: HTTP status code
        code:
          type: string
          description: '| Error Code | Description |

            |------------|-------------|

            | GRID_SWITCH_ERROR | Grid switch error |

            | INTERNAL_ERROR | Internal server or UMA error |

            '
          enum:
          - GRID_SWITCH_ERROR
          - INTERNAL_ERROR
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
    CardRefundSummary:
      type: object
      required:
      - count
      - totalAmount
      properties:
        count:
          type: integer
          description: Number of refund (return) events received for this transaction.
          example: 0
        totalAmount:
          type: integer
          format: int64
          description: Sum of all refund amounts in the smallest unit of the funding source's currency.
          example: 0
    PaymentInrAccountInfo:
      title: INR Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/InrAccountInfo'
    XofExternalAccountInfo:
      title: XOF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/XofAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/XofBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/XofBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    XofExternalAccountCreateInfo:
      title: XOF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/XofAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/XofBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/XofBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    Error409:
      type: object
      required:
      - message
      - status
      - code
      properties:
        status:
          type: integer
          enum:
          - 409
          description: HTTP status code
        code:
          type: string
          description: '| Error Code | Description |

            |------------|-------------|

            | TRANSACTION_NOT_PENDING_PLATFORM_APPROVAL | Transaction is not pending platform approval |

            | UMA_ADDRESS_EXISTS | UMA address already exists |

            | EMAIL_OTP_EMAIL_ALREADY_EXISTS | Email address is already associated with an EMAIL_OTP credential |

            | EMAIL_OTP_CREDENTIAL_SET_CHANGED | Tied EMAIL_OTP credential set changed after the signed-retry challenge was issued |

            | PASSKEY_ALREADY_ENROLLED | The customer already has an enrolled passkey factor; only one passkey per customer is supported. Delete the existing one before enrolling another |

            | CONFLICT | Generic resource-state conflict. Returned, for example, when `platformCustomerId` on a customer create call collides with an existing active customer on the same platform |

            '
          enum:
          - TRANSACTION_NOT_PENDING_PLATFORM_APPROVAL
          - UMA_ADDRESS_EXISTS
          - EMAIL_OTP_EMAIL_ALREADY_EXISTS
          - EMAIL_OTP_CREDENTIAL_SET_CHANGED
          - PASSKEY_ALREADY_ENROLLED
          - CONFLICT
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
    TransactionSourceOneOf:
      oneOf:
      - $ref: '#/components/schemas/AccountTransactionSource'
      - $ref: '#/components/schemas/UmaAddressTransactionSource'
      - $ref: '#/components/schemas/RealtimeFundingTransactionSource'
      discriminator:
        propertyName: sourceType
        mapping:
          ACCOUNT: '#/components/schemas/AccountTransactionSource'
          UMA_ADDRESS: '#/components/schemas/UmaAddressTransactionSource'
          REALTIME_FUNDING: '#/components/schemas/RealtimeFundingTransactionSource'
    AedExternalAccountInfo:
      title: AED Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/AedAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/AedBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/AedBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    HtgBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    DkkExternalAccountCreateInfo:
      title: DKK Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/DkkAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/DkkBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/DkkBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    QuoteLockSide:
      type: string
      enum:
      - SENDING
      - RECEIVING
      description: The side of the quote which should be locked and specified in the `lockedCurrencyAmount`. For example, if I want to send exactly $5 MXN from my wallet, I would set this to "sending", and the `lockedCurrencyAmount` to 500 (in cents). If I want the receiver to receive exactly $10 USD, I would set this to "receiving" and the `lockedCurrencyAmount` to 10000 (in cents).
    PaymentZarAccountInfo:
      title: ZAR Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/ZarAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    VndAccountInfo:
      allOf:
      - $ref: '#/components/schemas/VndAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    SparkWalletExternalAccountInfo:
      title: Spark Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SparkWalletInfo'
    GhsAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      description: 'Required fields depend on the selected paymentRails:

        - BANK_TRANSFER: accountNumber, bankName

        - MOBILE_MONEY: bankName, phoneNumber'
      properties:
        accountType:
          type: string
          enum:
          - GHS_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
      example:
        accountType: GHS_ACCOUNT
        accountNumber: '1234567890'
        bankName: Example Bank
        phoneNumber: '+1234567890'
    RwfExternalAccountInfo:
      title: RWF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/RwfAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/RwfBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/RwfBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    IncomingTransaction:
      title: Incoming Transaction
      allOf:
      - $ref: '#/components/schemas/Transaction'
      - type: object
        required:
        - type
        - receivedAmount
        properties:
          type:
            type: string
            enum:
            - INCOMING
          source:
            $ref: '#/components/schemas/TransactionSourceOneOf'
          receivedAmount:
            $ref: '#/components/schemas/CurrencyAmount'
            description: Amount received in the recipient's currency
          fees:
            type: integer
            format: int64
            description: The total fees available from the receive quote in the smallest unit of the receiving currency (eg. cents).
            minimum: 0
            example: 10
          reconciliationInstructions:
            $ref: '#/components/schemas/ReconciliationInstructions'
            description: Included for all transactions except those with "CREATED" status
          rateDetails:
            $ref: '#/components/schemas/IncomingRateDetails'
            description: Details about the rate and fees for the transaction.
          failureReason:
            $ref: '#/components/schemas/IncomingTransactionFailureReason'
            description: If the transaction failed, this field provides the reason for failure.
    CopAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      description: 'Required fields depend on the selected paymentRails:

        - BANK_TRANSFER: accountNumber, bankAccountType, bankName

        - MOBILE_MONEY: bankName, phoneNumber'
      properties:
        accountType:
          type: string
          enum:
          - COP_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        bankAccountType:
          type: string
          description: The bank account type
          enum:
          - CHECKING
          - SAVINGS
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
      example:
        accountType: COP_ACCOUNT
        accountNumber: '1234567890'
        bankAccountType: CHECKING
        bankName: Example Bank
        phoneNumber: '+1234567890'
    EurBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - countryOfResidence
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    PaymentThbAccountInfo:
      title: THB Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/ThbAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    PaymentSparkWalletInfo:
      title: Spark Wallet
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/SparkWalletInfo'
      - type: object
        required:
        - assetType
        properties:
          assetType:
            type: string
            description: Type of asset or configured Spark token currency code
          invoice:
            type: string
            description: Invoice for the payment
            example: sparkrt1pgss8ter0fhc4c220f3zftmpz49h8wqte8eg3m5zkrraplgc048jucgszg3ssqgjzqqekv73mmh842yj7drsjwh7t7tz5zt8wf5kghm5v4ehggszppjp5s80cg3qjdzc55g2567tn3lj705hdsr577tg8ah795mlnt6807y657qhkmgfkf9w75p4wz3l8vhua85zdn6ryj32zuj0p00pv2l5z4u47mw6h4s
    AgentTransferDetails:
      type: object
      description: Details of a transfer-type agent action (TRANSFER_OUT or TRANSFER_IN).
      required:
      - amount
      - currency
      - sourceAccountId
      - destinationAccountId
      properties:
        amount:
          type: integer
          format: int64
          description: Transfer amount in the smallest unit of the specified currency.
          example: 50000
        currency:
          type: string
          description: ISO 4217 currency code for the transfer amount.
          example: USD
        sourceAccountId:
          type: string
          description: ID of the source account (internal or external).
          example: InternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
        destinationAccountId:
          type: string
          description: ID of the destination account (internal or external).
          example: ExternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
    DestinationType:
      type: string
      enum:
      - ACCOUNT
      - UMA_ADDRESS
      description: Type of payment destination
      example: ACCOUNT
    TransferOutRequest:
      type: object
      required:
      - source
      - destination
      properties:
        source:
          $ref: '#/components/schemas/InternalAccountReference'
          description: Source internal account details
        destination:
          $ref: '#/components/schemas/ExternalAccountDestinationReference'
          description: Destination external account details
        amount:
          type: integer
          format: int64
          description: Amount in the smallest unit of the currency (e.g., cents for USD/EUR, satoshis for BTC)
          example: 12550
        remittanceInformation:
          type: string
          maxLength: 80
          description: 'Free-form information about the payment that travels with it to the recipient. The field this populates depends on the payment rail: for ACH it populates the Addenda record, for FedNow and RTP it populates the remittanceInformation field, and for wires it populates the OBI (Originator to Beneficiary Information) / beneficiary information.'
          example: '12345'
    UsdBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    ThbAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - THB_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Thai bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: BKKBTHBK
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: THB_ACCOUNT
        bankName: Example Bank
        accountNumber: '1234567890'
        swiftCode: BKKBTHBK
    SlvExternalAccountInfo:
      title: SLV Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SlvAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/SlvBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/SlvBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    CnyExternalAccountInfo:
      title: CNY Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/CnyAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/CnyBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/CnyBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    EgpExternalAccountCreateInfo:
      title: EGP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/EgpAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/EgpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/EgpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    MxnBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    CryptoNetwork:
      type: string
      enum:
      - BITCOIN
      - ETHEREUM
      - SOLANA
      - BASE
      - POLYGON
      - TRON
      - SPARK
      description: The blockchain network an on-chain transaction settled on. Whether this is the mainnet or a test network (e.g. Solana devnet) is determined by your platform's environment — sandbox platforms operate on test networks, production platforms on mainnet — mirroring how `cryptoNetwork` is interpreted elsewhere in the API.
      example: SOLANA
    PaymentZmwAccountInfo:
      title: ZMW Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/ZmwAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    BdtBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    MxnExternalAccountCreateInfo:
      title: MXN Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/MxnAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/MxnBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/MxnBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    EurAccountInfoBase:
      type: object
      required:
      - accountType
      - iban
      properties:
        accountType:
          type: string
          enum:
          - EUR_ACCOUNT
        iban:
          type: string
          description: The IBAN of the bank account
          example: DE89370400440532013000
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Za-z0-9]{11,30}$
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: DEUTDEFF
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: EUR_ACCOUNT
        iban: DE89370400440532013000
        swiftCode: DEUTDEFF
    MwkExternalAccountCreateInfo:
      title: MWK Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/MwkAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/MwkBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/MwkBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    SgdBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    Address:
      type: object
      required:
      - line1
      - postalCode
      - country
      properties:
        line1:
          type: string
          description: Street address line 1
          example: 123 Main Street
        line2:
          type: string
          description: Street address line 2
          example: Apt 4B
        city:
          type: string
          description: City
          example: San Francisco
        state:
          type: string
          description: State/Province/Region
          example: CA
        postalCode:
          type: string
          description: Postal/ZIP code
          example: '94105'
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
          example: US
    NgnAccountInfoBase:
      type: object
      required:
      - accountType
      - accountNumber
      - bankName
      properties:
        accountType:
          type: string
          enum:
          - NGN_ACCOUNT
        accountNumber:
          type: string
          description: Nigerian bank account number
          minLength: 10
          maxLength: 10
          example: 0123456789
          pattern: ^[0-9]{10}$
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
      example:
        accountType: NGN_ACCOUNT
        accountNumber: 0123456789
        bankName: Example Bank
    PaymentMxnAccountInfo:
      title: MXN Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/MxnAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    AedAccountInfo:
      allOf:
      - $ref: '#/components/schemas/AedAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    UmaAddressTransactionDestination:
      title: UMA Address Destination
      allOf:
      - $ref: '#/components/schemas/BaseTransactionDestination'
      - type: object
        required:
        - umaAddress
        - destinationType
        properties:
          destinationType:
            type: string
            enum:
            - UMA_ADDRESS
          umaAddress:
            type: string
            description: UMA address of the recipient
            example: $receiver@uma.domain.com
        description: UMA address destination details
    VndExternalAccountInfo:
      title: VND Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/VndAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/VndBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/VndBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    Currency:
      type: object
      properties:
        code:
          type: string
          description: Three-letter currency code (ISO 4217) for fiat currencies. Some cryptocurrencies may use their own ticker symbols (e.g. "BTC" for Bitcoin, "USDC" for USDC, etc.)
          example: USD
        name:
          type: string
          description: Full name of the currency
          example: United States Dollar
        symbol:
          type: string
          description: Symbol of the currency
          example: $
        decimals:
          type: integer
          description: Number of decimal places for the currency
          minimum: 0
          example: 2
    SwiftAccountInfo:
      allOf:
      - $ref: '#/components/schemas/SwiftAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - SWIFT
    TransactionSourceType:
      type: string
      enum:
      - ACCOUNT
      - UMA_ADDRESS
      - REALTIME_FUNDING
      description: Type of transaction source
      example: ACCOUNT
    PaymentDkkAccountInfo:
      title: DKK Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/DkkAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    BaseTransactionDestination:
      type: object
      required:
      - destinationType
      properties:
        destinationType:
          $ref: '#/components/schemas/TransactionDestinationType'
        currency:
          type: string
          description: Currency code for the destination
          example: EUR
    InternalAccountReference:
      type: object
      required:
      - accountId
      properties:
        accountId:
          type: string
          description: Reference to an internal account ID
          example: InternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
    UsdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/UsdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - ACH
              - WIRE
              - RTP
              - FEDNOW
    EurExternalAccountInfo:
      title: EUR Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/EurAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/EurBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/EurBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    AccountQuoteSource:
      title: Account
      allOf:
      - $ref: '#/components/schemas/BaseQuoteSource'
      - type: object
        required:
        - accountId
        - sourceType
        properties:
          sourceType:
            type: string
            enum:
            - ACCOUNT
          accountId:
            type: string
            description: Source account identifier
            example: InternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
          customerId:
            type: string
            description: Required when funding from an FBO account to identify the customer on whose behalf the transaction is being initiated.  Otherwise, will default to the customerId of the account owner.
            example: Customer:019542f5-b3e7-1d02-0000-000000000001
        description: Source account details
    SwiftExternalAccountCreateInfo:
      title: SWIFT Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SwiftAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/SwiftBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/SwiftBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    PaymentBdtAccountInfo:
      title: BDT Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/BdtAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    Error401:
      type: object
      required:
      - message
      - status
      - code
      properties:
        status:
          type: integer
          enum:
          - 401
          description: HTTP status code
        code:
          type: string
          description: '| Error Code | Description |

            |------------|-------------|

            | UNAUTHORIZED | Issue with API credentials |

            | INVALID_SIGNATURE | Signature header is invalid |

            | WALLET_SIGNATURE_MISSING | The `Grid-Wallet-Signature` header is required for this Embedded Wallet action but was not supplied |

            | WALLET_SIGNATURE_MALFORMED | The `Grid-Wallet-Signature` header could not be parsed (bad encoding, structure, or fields) |

            | WALLET_SIGNATURE_BODY_MISMATCH | The `Grid-Wallet-Signature` was computed over a different request body than the one received |

            | WALLET_SIGNATURE_INVALID | The `Grid-Wallet-Signature` failed cryptographic verification against the registered credential |

            | REQUEST_ID_MISSING | The `Request-Id` header is required on the signed retry but was not supplied (paired with `Grid-Wallet-Signature`) |

            '
          enum:
          - UNAUTHORIZED
          - INVALID_SIGNATURE
          - WALLET_SIGNATURE_MISSING
          - WALLET_SIGNATURE_MALFORMED
          - WALLET_SIGNATURE_BODY_MISMATCH
          - WALLET_SIGNATURE_INVALID
          - REQUEST_ID_MISSING
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
    TzsBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    InrExternalAccountInfo:
      title: INR Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/InrAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/InrBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/InrBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    PaymentKesAccountInfo:
      title: KES Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/KesAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    InrExternalAccountCreateInfo:
      title: INR Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/InrAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/InrBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/InrBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    Error403:
      type: object
      required:
      - message
      - status
      - code
      properties:
        status:
          type: integer
          enum:
          - 403
          description: HTTP status code
        code:
          type: string
          description: '| Error Code | Description |

            |------------|-------------|

            | FORBIDDEN | Insufficient permissions |

            | USER_NOT_READY | Customer exists but is not ready for operation |

            | COUNTERPARTY_NOT_ALLOWED | Counterparty has not been enabled for your account |

            | VELOCITY_LIMIT_EXCEEDED | Counterparty has exceeded velocity limits |

            '
          enum:
          - FORBIDDEN
          - USER_NOT_READY
          - COUNTERPARTY_NOT_ALLOWED
          - VELOCITY_LIMIT_EXCEEDED
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
    ReconciliationInstructions:
      type: object
      minProperties: 1
      description: Instructions for reconciling a payment with this transaction. For the on-chain transaction to or from an external crypto wallet that is the transaction's own source or destination, use the `onChainTransaction` on the relevant source or destination instead.
      properties:
        reference:
          type: string
          description: Unique reference code to include with the payment to match it with the correct incoming transaction, when available.
          example: UMA-Q12345-REF
        transactionHash:
          type: string
          description: Transaction hash of the internal settlement transfer used to deliver a UMA payment — the inter-VASP settlement leg (e.g. USDC on Solana to the receiving partner), when available. This is not a transfer to a customer's own wallet; for that, see the `onChainTransaction` on the transaction's source or destination.
          example: '0x9f2c6b6f4b6c8f2a8d9e0b1c2d3e4f5061728394a5b6c7d8e9f00112233445566'
    BwpAccountInfoBase:
      type: object
      required:
      - accountType
      - phoneNumber
      - provider
      properties:
        accountType:
          type: string
          enum:
          - BWP_ACCOUNT
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
        provider:
          type: string
          description: The mobile money provider name
          minLength: 1
          maxLength: 255
      example:
        accountType: BWP_ACCOUNT
        phoneNumber: '+1234567890'
        provider: Example Provider
    RwfAccountInfo:
      allOf:
      - $ref: '#/components/schemas/RwfAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    BrlAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BrlAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - PIX
    CnyAccountInfo:
      allOf:
      - $ref: '#/components/schemas/CnyAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    Quote:
      type: object
      required:
      - id
      - status
      - expiresAt
      - createdAt
      - source
      - destination
      - sendingCurrency
      - receivingCurrency
      - totalSendingAmount
      - totalReceivingAmount
      - exchangeRate
      - feesIncluded
      - transactionId
      properties:
        id:
          type: string
          description: Unique identifier for this quote
          example: Quote:019542f5-b3e7-1d02-0000-000000000006
        status:
          type: string
          enum:
          - PENDING
          - PENDING_AUTHORIZATION
          - PROCESSING
          - COMPLETED
          - FAILED
          - EXPIRED
          description: 'Current status of the quote. `PENDING_AUTHORIZATION` occurs only for customers in a region where Strong Customer Authentication is required (e.g. EU): the quote carries an `scaChallenge` that must be authorized before execution, and for realtime-funding sources `paymentInstructions` are withheld until it is satisfied.'
          example: PENDING
        createdAt:
          type: string
          format: date-time
          description: When this quote was created
          example: '2025-10-03T12:00:00Z'
        expiresAt:
          type: string
          format: date-time
          description: 'Absolute UTC timestamp when the rate locked in this quote becomes invalid and the quote can no longer be executed. The window depends on the rail and corridor: instant rails (Lightning, Spark, USDC on Solana/Base/Polygon, RTP, SEPA Instant) typically expire in 1–5 minutes; corridors with longer settlement guarantees may have longer windows. Always rely on this timestamp rather than assuming a fixed window.'
          example: '2025-10-03T12:05:00Z'
        source:
          $ref: '#/components/schemas/QuoteSourceOneOf'
        destination:
          $ref: '#/components/schemas/QuoteDestinationOneOf'
        sendingCurrency:
          $ref: '#/components/schemas/Currency'
          description: Currency for the sending amount
        receivingCurrency:
          $ref: '#/components/schemas/Currency'
          description: Currency for the receiving amount
        totalSendingAmount:
          type: integer
          format: int64
          description: The total amount that will be sent in the smallest unit of the sending currency (eg. cents).
          exclusiveMinimum: 0
          example: 123010
        totalReceivingAmount:
          type: integer
          format: int64
          description: The total amount that will be received in the smallest unit of the receiving currency (eg. cents).
          exclusiveMinimum: 0
          example: 1000
        exchangeRate:
          type: number
          description: Number of sending currency units per receiving currency unit.
          exclusiveMinimum: 0
        feesIncluded:
          type: integer
          format: int64
          description: 'The fees associated with the quote in the smallest unit of the sending currency (eg. cents). Note: this value may fluctuate between quotes — some underlying fee components are defined in the receiving currency, so their equivalent in the sending currency moves with the FX rate. The fees shown here are locked only for the lifetime of this quote.'
          minimum: 0
          example: 10
        paymentInstructions:
          type: array
          description: Payment instructions for executing the payment. This is not required when using an internal account source.
          items:
            $ref: '#/components/schemas/PaymentInstructions'
          example:
          - accountOrWalletInfo:
              accountType: USD_ACCOUNT
              paymentRails:
              - ACH
              - WIRE
              accountNumber: '1234567890'
              routingNumber: '021000021'
              bankName: Chase Bank
              reference: UMA-Q12345-REF
            instructionsNotes: Include reference UMA-Q12345-REF in memo
          - accountOrWalletInfo:
              accountType: SPARK_WALLET
              assetType: BTC
              address: spark1pgssyuuuhnrrdjswal5c3s3rafw9w3y5dd4cjy3duxlf7hjzkp0rqx6dj6mrhu
              invoice: lnbc15u1p3xnhl2pp5jptserfk3zk4qy42tlucycrfwxhydvlemu9pqr93tuzlv9cc7g3sdqsvfhkcap3xyhx7un8cqzpgxqzjcsp5f8c52y2stc300gl6s4xswtjpc37hrnnr3c9wvtgjfuvqmpm35evq9qyyssqy4lgd8tj637qcjp05rdpxxykjenthxftej7a2zzmwrmrl70fyj9hvj0rewhzj7jfyuwkwcg9g2jpwtk3wkjtwnkdks84hsnu8xps5vsq4gj5hs
        transactionId:
          type: string
          description: The ID of the transaction created from this quote.
          example: Transaction:019542f5-b3e7-1d02-0000-000000000005
        remittanceInformation:
          type: string
          maxLength: 80
          description: 'Free-form information about the payment that travels with it to the recipient, as provided on the quote request. The field this populates depends on the payment rail: for ACH it populates the Addenda record, for FedNow and RTP it populates the remittanceInformation field, and for wires it populates the OBI (Originator to Beneficiary Information) / beneficiary information.'
          example: '12345'
        counterpartyInformation:
          $ref: '#/components/schemas/CounterpartyInformation'
          description: Additional information about the counterparty, if available and required by the platform in their configuration.
        rateDetails:
          $ref: '#/components/schemas/OutgoingRateDetails'
          description: Details about the rate and fees for the transaction.
        scaChallenge:
          $ref: '#/components/schemas/ScaChallenge'
          readOnly: true
          description: 'Present only while `status` is `PENDING_AUTHORIZATION`: the Strong Customer Authentication challenge to satisfy before this quote can be executed (or, for realtime-funding sources, before `paymentInstructions` are issued). Omitted for customers outside SCA-regulated regions (non-EU).'
    Refund:
      type: object
      required:
      - reference
      - initiatedAt
      - status
      properties:
        reference:
          type: string
          description: The unique reference ID of the refund
          example: UMA-Q12345-REFUND
        initiatedAt:
          type: string
          format: date-time
          description: When the refund was initiated
          example: '2025-08-15T14:30:00Z'
        settledAt:
          type: string
          format: date-time
          description: When the refund was settled
          example: '2025-08-15T14:35:00Z'
        status:
          type: string
          enum:
          - PENDING
          - COMPLETED
          - FAILED
          description: Current status of the refund
          example: COMPLETED
        reason:
          type: string
          enum:
          - TRANSACTION_FAILED
          - USER_CANCELLATION
          - TIMEOUT
          description: Reason for the refund
          example: TRANSACTION_FAILED
    BasePaymentAccountInfo:
      type: object
      required:
      - accountType
      properties:
        accountType:
          $ref: '#/components/schemas/PaymentAccountType'
    BdtAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BdtAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    PolygonWalletExternalAccountInfo:
      title: Polygon Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/PolygonWalletInfo'
    InrBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    PaymentGhsAccountInfo:
      title: GHS Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/GhsAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    InternalAccountType:
      title: Internal Account Type
      type: string
      enum:
      - INTERNAL_FIAT
      - INTERNAL_CRYPTO
      - EMBEDDED_WALLET
      description: 'Classification of an internal account.


        - `INTERNAL_FIAT`: A Grid-managed fiat holding account (for example, the USD holding account used as the source for Payouts flows).

        - `INTERNAL_CRYPTO`: A Grid-managed crypto holding account denominated in a stablecoin such as USDC.

        - `EMBEDDED_WALLET`: A self-custodial Embedded Wallet provisioned for the customer. Outbound transfers require a session signature produced by the customer''s device — see the Embedded Wallets guide.'
    PaymentUgxAccountInfo:
      title: UGX Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/UgxAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    PaymentBaseWalletInfo:
      title: Base Wallet
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/BaseWalletInfo'
      - type: object
        properties:
          assetType:
            type: string
            description: Type of asset
            enum:
            - USDC
    CopAccountInfo:
      allOf:
      - $ref: '#/components/schemas/CopAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    BaseExternalAccountInfo:
      type: object
      required:
      - accountType
      properties:
        accountType:
          $ref: '#/components/schemas/ExternalAccountType'
    IncomingTransactionFailureReason:
      type: string
      enum:
      - LNURLP_FAILED
      - PAY_REQUEST_FAILED
      - PAYMENT_APPROVAL_WEBHOOK_ERROR
      - PAYMENT_APPROVAL_TIMED_OUT
      - OFFRAMP_FAILED
      - MISSING_MANDATORY_PAYEE_DATA
      - QUOTE_EXPIRED
      - QUOTE_EXECUTION_FAILED
      description: Reason for failure of an incoming transaction. This is used to provide more context on why a transaction failed. If the transaction is not in a failed state, this field is omitted.
    BrlExternalAccountCreateInfo:
      title: BRL Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BrlAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/BrlBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/BrlBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    ZmwBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    PaymentHkdAccountInfo:
      title: HKD Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/HkdAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    BaseWalletExternalAccountInfo:
      title: Base Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BaseWalletInfo'
    BwpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BwpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    AgentExecutionMode:
      type: string
      enum:
      - AUTO
      - APPROVAL_REQUIRED
[...]
