openapi: 3.2.0
info:
  title: Grid External Accounts API
  description: 'API for managing global payments on the open Money Grid. Built by Lightspark. See the full documentation at https://docs.lightspark.com/.

    '
  version: '2025-10-13'
  contact:
    name: Lightspark Support
    email: support@lightspark.com
  license:
    name: Proprietary
    url: https://lightspark.com/terms
servers:
- url: https://api.lightspark.com/grid/2025-10-13
  description: Production server
security:
- BasicAuth: []
- AgentAuth: []
tags:
- name: External Accounts
  description: External account management endpoints for creating and managing external bank accounts
paths:
  /customers/external-accounts:
    get:
      summary: List Customer external accounts
      description: 'Retrieve a list of external accounts with optional filtering parameters. Returns all

        external accounts that match the specified filters. If no filters are provided, returns all external accounts

        (paginated).


        External accounts are bank accounts, cryptocurrency wallets, or other payment destinations that customers can use to receive funds from the platform.

        '
      operationId: listCustomerExternalAccounts
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      parameters:
      - name: currency
        in: query
        description: Filter by currency code
        required: false
        schema:
          type: string
      - name: customerId
        in: query
        description: Filter by external accounts associated with a specific customer
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return (default 20, max 100)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: cursor
        in: query
        description: Cursor for pagination (returned from previous request)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountListResponse'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Add a new external account
      description: Register a new external bank account for a customer.
      operationId: createCustomerExternalAccount
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalAccountCreateRequest'
            examples:
              usBankAccount:
                summary: Create external US bank account
                value:
                  customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                  currency: USD
                  accountInfo:
                    accountType: USD_ACCOUNT
                    accountNumber: '12345678901'
                    routingNumber: '123456789'
                    bankAccountType: CHECKING
                    bankName: Chase Bank
                    platformAccountId: ext_acc_123456
                    beneficiary:
                      beneficiaryType: INDIVIDUAL
                      fullName: John Doe
                      birthDate: '1990-01-15'
                      nationality: US
                      address:
                        line1: 123 Main Street
                        city: San Francisco
                        state: CA
                        postalCode: '94105'
                        country: US
              sparkWallet:
                summary: Create external Spark wallet
                value:
                  customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                  currency: BTC
                  accountInfo:
                    accountType: SPARK_WALLET
                    address: spark1pgssyuuuhnrrdjswal5c3s3rafw9w3y5dd4cjy3duxlf7hjzkp0rqx6dj6mrhu
      responses:
        '201':
          description: External account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - External account already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /customers/external-accounts/{externalAccountId}:
    parameters:
    - name: externalAccountId
      in: path
      description: System-generated unique external account identifier
      required: true
      schema:
        type: string
    get:
      summary: Get customer external account by ID
      description: Retrieve a customer external account by its system-generated ID
      operationId: getCustomerExternalAccountById
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    delete:
      summary: Delete customer external account by ID
      description: Delete a customer external account by its system-generated ID
      operationId: deleteCustomerExternalAccountById
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      responses:
        '204':
          description: External account deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /platform/external-accounts:
    get:
      summary: List platform external accounts
      description: 'Retrieve a list of all external accounts that belong to the platform, as opposed to an individual customer.


        These accounts are used for platform-wide operations such as receiving funds from external sources or managing platform-level payment destinations.

        '
      operationId: listPlatformExternalAccounts
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      parameters:
      - name: currency
        in: query
        description: Filter by currency code
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return (default 20, max 100)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: cursor
        in: query
        description: Cursor for pagination (returned from previous request)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountListResponse'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    post:
      summary: Add a new platform external account
      description: Register a new external bank account for the platform.
      operationId: createPlatformExternalAccount
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformExternalAccountCreateRequest'
            examples:
              usBankAccount:
                summary: Create external US bank account
                value:
                  currency: USD
                  accountInfo:
                    accountType: USD_ACCOUNT
                    accountNumber: '12345678901'
                    routingNumber: '123456789'
                    bankAccountType: CHECKING
                    bankName: Chase Bank
                    platformAccountId: ext_acc_123456
                    beneficiary:
                      beneficiaryType: INDIVIDUAL
                      fullName: John Doe
                      birthDate: '1990-01-15'
                      nationality: US
                      address:
                        line1: 123 Main Street
                        city: San Francisco
                        state: CA
                        postalCode: '94105'
                        country: US
              sparkWallet:
                summary: Create external Spark wallet
                value:
                  currency: BTC
                  accountInfo:
                    accountType: SPARK_WALLET
                    address: spark1pgssyuuuhnrrdjswal5c3s3rafw9w3y5dd4cjy3duxlf7hjzkp0rqx6dj6mrhu
      responses:
        '201':
          description: External account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - External account already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
  /platform/external-accounts/{externalAccountId}:
    parameters:
    - name: externalAccountId
      in: path
      description: System-generated unique external account identifier
      required: true
      schema:
        type: string
    get:
      summary: Get platform external account by ID
      description: Retrieve a platform external account by its system-generated ID
      operationId: getPlatformExternalAccountById
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccount'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
    delete:
      summary: Delete platform external account by ID
      description: Delete a platform external account by its system-generated ID
      operationId: deletePlatformExternalAccountById
      tags:
      - External Accounts
      security:
      - BasicAuth: []
      responses:
        '204':
          description: External account deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '404':
          description: External account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '500':
          description: Internal service error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
components:
  schemas:
    MyrBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    BdtAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BdtAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    MwkExternalAccountInfo:
      title: MWK Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/MwkAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/MwkBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/MwkBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    PhpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/PhpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    XofAccountInfoBase:
      type: object
      required:
      - accountType
      - phoneNumber
      - provider
      - region
      properties:
        accountType:
          type: string
          enum:
          - XOF_ACCOUNT
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
        provider:
          type: string
          description: The mobile money provider name
          minLength: 1
          maxLength: 255
        region:
          type: string
          description: Country code within the West African CFA franc zone
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          enum:
          - BJ
          - CI
          - SN
          - TG
      example:
        accountType: XOF_ACCOUNT
        phoneNumber: '+1234567890'
        provider: Example Provider
        region: BJ
    PolygonWalletExternalAccountInfo:
      title: Polygon Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/PolygonWalletInfo'
    HkdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/HkdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    MyrExternalAccountInfo:
      title: MYR Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/MyrAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/MyrBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/MyrBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    InrBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    CadExternalAccountCreateInfo:
      title: CAD Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/CadAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/CadBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/CadBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    UgxAccountInfo:
      allOf:
      - $ref: '#/components/schemas/UgxAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    MyrAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - MYR_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Malaysian bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: MABORUMMYYY
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: MYR_ACCOUNT
        bankName: Example Bank
        accountNumber: '1234567890'
        swiftCode: MABORUMMYYY
    GbpExternalAccountCreateInfo:
      title: GBP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/GbpAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/GbpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/GbpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    CnyExternalAccountCreateInfo:
      title: CNY Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/CnyAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/CnyBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/CnyBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    HkdAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - HKD_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Hong Kong bank account number
          minLength: 1
          maxLength: 34
          example: '123456789012'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: HSBCHKHHHKH
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: HKD_ACCOUNT
        bankName: Example Bank
        accountNumber: '123456789012'
        swiftCode: HSBCHKHHHKH
    UsdAccountInfoBase:
      type: object
      required:
      - accountType
      - accountNumber
      - routingNumber
      properties:
        accountType:
          type: string
          enum:
          - USD_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        routingNumber:
          type: string
          description: The ABA routing number
          example: '021000021'
          minLength: 9
          maxLength: 9
          pattern: ^[0-9]{9}$
      example:
        accountType: USD_ACCOUNT
        accountNumber: '1234567890'
        routingNumber: '021000021'
    CnyBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    IdrExternalAccountInfo:
      title: IDR Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/IdrAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/IdrBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/IdrBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    BrlBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    CopAccountInfo:
      allOf:
      - $ref: '#/components/schemas/CopAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    PhpExternalAccountInfo:
      title: PHP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/PhpAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/PhpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/PhpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    BaseExternalAccountInfo:
      type: object
      required:
      - accountType
      properties:
        accountType:
          $ref: '#/components/schemas/ExternalAccountType'
    EgpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/EgpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    GtqAccountInfo:
      allOf:
      - $ref: '#/components/schemas/GtqAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    IdrAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      - phoneNumber
      properties:
        accountType:
          type: string
          enum:
          - IDR_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
          example: Bank Central Asia
        accountNumber:
          type: string
          description: Indonesian bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: CENAIDJA
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
        phoneNumber:
          type: string
          description: Indonesian phone number for e-wallet payments
          example: '+6281234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+62[0-9]{9,12}$
      example:
        accountType: IDR_ACCOUNT
        bankName: Bank Central Asia
        accountNumber: '1234567890'
        swiftCode: CENAIDJA
        phoneNumber: '+6281234567890'
    IdrExternalAccountCreateInfo:
      title: IDR Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/IdrAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/IdrBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/IdrBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    JmdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/JmdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    GbpExternalAccountInfo:
      title: GBP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/GbpAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/GbpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/GbpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    SlvExternalAccountCreateInfo:
      title: SLV Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SlvAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/SlvBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/SlvBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    BrlExternalAccountCreateInfo:
      title: BRL Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BrlAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/BrlBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/BrlBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    ZmwBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    AedAccountInfoBase:
      type: object
      required:
      - accountType
      - iban
      properties:
        accountType:
          type: string
          enum:
          - AED_ACCOUNT
        iban:
          type: string
          description: UAE IBAN (23 characters, starting with AE)
          example: AE070331234567890123456
          minLength: 23
          maxLength: 23
          pattern: ^AE[0-9]{21}$
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: EBILAEAD
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: AED_ACCOUNT
        iban: AE070331234567890123456
        swiftCode: EBILAEAD
    Error500:
      type: object
      required:
      - message
      - status
      - code
      properties:
        status:
          type: integer
          enum:
          - 500
          description: HTTP status code
        code:
          type: string
          description: '| Error Code | Description |

            |------------|-------------|

            | GRID_SWITCH_ERROR | Grid switch error |

            | INTERNAL_ERROR | Internal server or UMA error |

            '
          enum:
          - GRID_SWITCH_ERROR
          - INTERNAL_ERROR
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
    BaseWalletExternalAccountInfo:
      title: Base Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BaseWalletInfo'
    BwpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BwpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    NgnAccountInfo:
      allOf:
      - $ref: '#/components/schemas/NgnAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    CopExternalAccountInfo:
      title: COP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/CopAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/CopBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/CopBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    GbpAccountInfoBase:
      type: object
      required:
      - accountType
      - sortCode
      - accountNumber
      properties:
        accountType:
          type: string
          enum:
          - GBP_ACCOUNT
        sortCode:
          type: string
          description: The UK sort code
          example: '123456'
          minLength: 6
          maxLength: 6
          pattern: ^[0-9]{6}$
        accountNumber:
          type: string
          description: UK bank account number (8 digits)
          minLength: 8
          maxLength: 8
          example: '12345678'
          pattern: ^[0-9]{8}$
      example:
        accountType: GBP_ACCOUNT
        sortCode: '123456'
        accountNumber: '12345678'
    XofExternalAccountInfo:
      title: XOF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/XofAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/XofBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/XofBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    PolygonWalletInfo:
      type: object
      required:
      - address
      - accountType
      properties:
        accountType:
          type: string
          enum:
          - POLYGON_WALLET
        address:
          type: string
          description: Polygon eth wallet address
          example: '0xAbCDEF1234567890aBCdEf1234567890ABcDef12'
    ExternalAccountStatus:
      type: string
      enum:
      - PENDING
      - ACTIVE
      - UNDER_REVIEW
      - INACTIVE
      description: Status of an external account
    MxnAccountInfo:
      allOf:
      - $ref: '#/components/schemas/MxnAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - SPEI
    UgxExternalAccountCreateInfo:
      title: UGX Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/UgxAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/UgxBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/UgxBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    XofExternalAccountCreateInfo:
      title: XOF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/XofAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/XofBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/XofBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    HkdBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    EthereumWalletExternalAccountInfo:
      title: Ethereum L1 Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/EthereumWalletInfo'
    LightningInfo:
      type: object
      description: 'Lightning payment destination. Exactly one of `invoice`, `bolt12`, or `lightningAddress` must be provided.

        '
      required:
      - accountType
      properties:
        accountType:
          type: string
          enum:
          - LIGHTNING
        invoice:
          type: string
          description: 1-time use lightning bolt11 invoice payout destination
          example: lnbc15u1p3xnhl2pp5jptserfk3zk4qy42tlucycrfwxhydvlemu9pqr93tuzlv9cc7g3sdqsvfhkcap3xyhx7un8cqzpgxqzjcsp5f8c52y2stc300gl6s4xswtjpc37hrnnr3c9wvtgjfuvqmpm35evq9qyyssqy4lgd8tj637qcjp05rdpxxykjenthxftej7a2zzmwrmrl70fyj9hvj0rewhzj7jfyuwkwcg9g2jpwtk3wkjtwnkdks84hsnu8xps5vsq4gj5hs
        bolt12:
          type: string
          description: A bolt12 offer which can be reused as a payment destination
          example: lnbc15u1p3xnhl2pp5jptserfk3zk4qy42tlucycrfwxhydvlemu9pqr93tuzlv9cc7g3sdqsvfhkcap3xyhx7un8cqzpgxqzjcsp5f8c52y2stc300gl6s4xswtjpc37hrnnr3c9wvtgjfuvqmpm35evq9qyyssqy4lgd8tj637qcjp05rdpxxykjenthxftej7a2zzmwrmrl70fyj9hvj0rewhzj7jfyuwkwcg9g2jpwtk3wkjtwnkdks84hsnu8xps5vsq4gj5hs
        lightningAddress:
          type: string
          description: A lightning address which can be used as a payment destination. Note that for UMA addresses, no external account is needed. You can use the UMA address directly as a destination.
          example: john.doe@lightningwallet.com
    Error409:
      type: object
      required:
      - message
      - status
      - code
      properties:
        status:
          type: integer
          enum:
          - 409
          description: HTTP status code
        code:
          type: string
          description: '| Error Code | Description |

            |------------|-------------|

            | TRANSACTION_NOT_PENDING_PLATFORM_APPROVAL | Transaction is not pending platform approval |

            | UMA_ADDRESS_EXISTS | UMA address already exists |

            | EMAIL_OTP_EMAIL_ALREADY_EXISTS | Email address is already associated with an EMAIL_OTP credential |

            | EMAIL_OTP_CREDENTIAL_SET_CHANGED | Tied EMAIL_OTP credential set changed after the signed-retry challenge was issued |

            | PASSKEY_ALREADY_ENROLLED | The customer already has an enrolled passkey factor; only one passkey per customer is supported. Delete the existing one before enrolling another |

            | CONFLICT | Generic resource-state conflict. Returned, for example, when `platformCustomerId` on a customer create call collides with an existing active customer on the same platform |

            '
          enum:
          - TRANSACTION_NOT_PENDING_PLATFORM_APPROVAL
          - UMA_ADDRESS_EXISTS
          - EMAIL_OTP_EMAIL_ALREADY_EXISTS
          - EMAIL_OTP_CREDENTIAL_SET_CHANGED
          - PASSKEY_ALREADY_ENROLLED
          - CONFLICT
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
    GhsExternalAccountInfo:
      title: GHS Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/GhsAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/GhsBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/GhsBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    VndAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - VND_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Vietnamese bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: BFTVVNVX
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: VND_ACCOUNT
        bankName: Example Bank
        accountNumber: '1234567890'
        swiftCode: BFTVVNVX
    GbpBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    KesExternalAccountCreateInfo:
      title: KES Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/KesAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/KesBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/KesBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    JmdExternalAccountCreateInfo:
      title: JMD Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/JmdAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/JmdBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/JmdBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    XafExternalAccountCreateInfo:
      title: XAF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/XafAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/XafBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/XafBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    AedExternalAccountInfo:
      title: AED Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/AedAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/AedBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/AedBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    CadExternalAccountInfo:
      title: CAD Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/CadAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/CadBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/CadBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    UsdExternalAccountCreateInfo:
      title: USD Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/UsdAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/UsdBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/UsdBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    CadBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        registrationNumber:
          type: string
          description: The registration number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    SgdExternalAccountCreateInfo:
      title: SGD Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SgdAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/SgdBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/SgdBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    XafBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    BdtExternalAccountInfo:
      title: BDT Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BdtAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/BdtBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/BdtBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    XofBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    HtgBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    PkrBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    DkkExternalAccountCreateInfo:
      title: DKK Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/DkkAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/DkkBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/DkkBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    GhsAccountInfo:
      allOf:
      - $ref: '#/components/schemas/GhsAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    VndAccountInfo:
      allOf:
      - $ref: '#/components/schemas/VndAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    CopBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
        documentType:
          type: string
          description: Identity document type (Colombia)
          enum:
          - CC
          - CE
          - TI
          - NIT
          - PP
        documentNumber:
          type: string
          description: The identity document number
          minLength: 1
          maxLength: 50
    DkkBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    AedExternalAccountCreateInfo:
      title: AED Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/AedAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/AedBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/AedBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    HtgAccountInfoBase:
      type: object
      required:
      - accountType
      - phoneNumber
      properties:
        accountType:
          type: string
          enum:
          - HTG_ACCOUNT
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
      example:
        accountType: HTG_ACCOUNT
        phoneNumber: '+1234567890'
    ExternalAccountInfoOneOf:
      oneOf:
      - $ref: '#/components/schemas/AedExternalAccountInfo'
      - $ref: '#/components/schemas/BdtExternalAccountInfo'
      - $ref: '#/components/schemas/BrlExternalAccountInfo'
      - $ref: '#/components/schemas/BwpExternalAccountInfo'
      - $ref: '#/components/schemas/CadExternalAccountInfo'
      - $ref: '#/components/schemas/CopExternalAccountInfo'
      - $ref: '#/components/schemas/DkkExternalAccountInfo'
      - $ref: '#/components/schemas/EgpExternalAccountInfo'
      - $ref: '#/components/schemas/EurExternalAccountInfo'
      - $ref: '#/components/schemas/GbpExternalAccountInfo'
      - $ref: '#/components/schemas/GhsExternalAccountInfo'
      - $ref: '#/components/schemas/GtqExternalAccountInfo'
      - $ref: '#/components/schemas/HkdExternalAccountInfo'
      - $ref: '#/components/schemas/HtgExternalAccountInfo'
      - $ref: '#/components/schemas/IdrExternalAccountInfo'
      - $ref: '#/components/schemas/InrExternalAccountInfo'
      - $ref: '#/components/schemas/JmdExternalAccountInfo'
      - $ref: '#/components/schemas/KesExternalAccountInfo'
      - $ref: '#/components/schemas/MwkExternalAccountInfo'
      - $ref: '#/components/schemas/MxnExternalAccountInfo'
      - $ref: '#/components/schemas/MyrExternalAccountInfo'
      - $ref: '#/components/schemas/NgnExternalAccountInfo'
      - $ref: '#/components/schemas/PhpExternalAccountInfo'
      - $ref: '#/components/schemas/PkrExternalAccountInfo'
      - $ref: '#/components/schemas/RwfExternalAccountInfo'
      - $ref: '#/components/schemas/SgdExternalAccountInfo'
      - $ref: '#/components/schemas/SlvExternalAccountInfo'
      - $ref: '#/components/schemas/ThbExternalAccountInfo'
      - $ref: '#/components/schemas/TzsExternalAccountInfo'
      - $ref: '#/components/schemas/UgxExternalAccountInfo'
      - $ref: '#/components/schemas/UsdExternalAccountInfo'
      - $ref: '#/components/schemas/VndExternalAccountInfo'
      - $ref: '#/components/schemas/XafExternalAccountInfo'
      - $ref: '#/components/schemas/XofExternalAccountInfo'
      - $ref: '#/components/schemas/ZarExternalAccountInfo'
      - $ref: '#/components/schemas/ZmwExternalAccountInfo'
      - $ref: '#/components/schemas/SwiftExternalAccountInfo'
      - $ref: '#/components/schemas/BaseWalletExternalAccountInfo'
      - $ref: '#/components/schemas/EthereumWalletExternalAccountInfo'
      - $ref: '#/components/schemas/LightningExternalAccountInfo'
      - $ref: '#/components/schemas/PolygonWalletExternalAccountInfo'
      - $ref: '#/components/schemas/SolanaWalletExternalAccountInfo'
      - $ref: '#/components/schemas/SparkWalletExternalAccountInfo'
      - $ref: '#/components/schemas/TronWalletExternalAccountInfo'
      - $ref: '#/components/schemas/CnyExternalAccountInfo'
      discriminator:
        propertyName: accountType
        mapping:
          AED_ACCOUNT: '#/components/schemas/AedExternalAccountInfo'
          BDT_ACCOUNT: '#/components/schemas/BdtExternalAccountInfo'
          BRL_ACCOUNT: '#/components/schemas/BrlExternalAccountInfo'
          BWP_ACCOUNT: '#/components/schemas/BwpExternalAccountInfo'
          CAD_ACCOUNT: '#/components/schemas/CadExternalAccountInfo'
          COP_ACCOUNT: '#/components/schemas/CopExternalAccountInfo'
          DKK_ACCOUNT: '#/components/schemas/DkkExternalAccountInfo'
          EGP_ACCOUNT: '#/components/schemas/EgpExternalAccountInfo'
          EUR_ACCOUNT: '#/components/schemas/EurExternalAccountInfo'
          GBP_ACCOUNT: '#/components/schemas/GbpExternalAccountInfo'
          GHS_ACCOUNT: '#/components/schemas/GhsExternalAccountInfo'
          GTQ_ACCOUNT: '#/components/schemas/GtqExternalAccountInfo'
          HKD_ACCOUNT: '#/components/schemas/HkdExternalAccountInfo'
          HTG_ACCOUNT: '#/components/schemas/HtgExternalAccountInfo'
          IDR_ACCOUNT: '#/components/schemas/IdrExternalAccountInfo'
          INR_ACCOUNT: '#/components/schemas/InrExternalAccountInfo'
          JMD_ACCOUNT: '#/components/schemas/JmdExternalAccountInfo'
          KES_ACCOUNT: '#/components/schemas/KesExternalAccountInfo'
          MWK_ACCOUNT: '#/components/schemas/MwkExternalAccountInfo'
          MXN_ACCOUNT: '#/components/schemas/MxnExternalAccountInfo'
          MYR_ACCOUNT: '#/components/schemas/MyrExternalAccountInfo'
          NGN_ACCOUNT: '#/components/schemas/NgnExternalAccountInfo'
          PHP_ACCOUNT: '#/components/schemas/PhpExternalAccountInfo'
          PKR_ACCOUNT: '#/components/schemas/PkrExternalAccountInfo'
          RWF_ACCOUNT: '#/components/schemas/RwfExternalAccountInfo'
          SGD_ACCOUNT: '#/components/schemas/SgdExternalAccountInfo'
          SLV_ACCOUNT: '#/components/schemas/SlvExternalAccountInfo'
          THB_ACCOUNT: '#/components/schemas/ThbExternalAccountInfo'
          TZS_ACCOUNT: '#/components/schemas/TzsExternalAccountInfo'
          UGX_ACCOUNT: '#/components/schemas/UgxExternalAccountInfo'
          USD_ACCOUNT: '#/components/schemas/UsdExternalAccountInfo'
          VND_ACCOUNT: '#/components/schemas/VndExternalAccountInfo'
          XAF_ACCOUNT: '#/components/schemas/XafExternalAccountInfo'
          XOF_ACCOUNT: '#/components/schemas/XofExternalAccountInfo'
          ZAR_ACCOUNT: '#/components/schemas/ZarExternalAccountInfo'
          ZMW_ACCOUNT: '#/components/schemas/ZmwExternalAccountInfo'
          SWIFT_ACCOUNT: '#/components/schemas/SwiftExternalAccountInfo'
          BASE_WALLET: '#/components/schemas/BaseWalletExternalAccountInfo'
          ETHEREUM_WALLET: '#/components/schemas/EthereumWalletExternalAccountInfo'
          LIGHTNING: '#/components/schemas/LightningExternalAccountInfo'
          LIGHTNING_ACCOUNT: '#/components/schemas/LightningExternalAccountInfo'
          POLYGON_WALLET: '#/components/schemas/PolygonWalletExternalAccountInfo'
          SOLANA_WALLET: '#/components/schemas/SolanaWalletExternalAccountInfo'
          SPARK_WALLET: '#/components/schemas/SparkWalletExternalAccountInfo'
          TRON_WALLET: '#/components/schemas/TronWalletExternalAccountInfo'
          CNY_ACCOUNT: '#/components/schemas/CnyExternalAccountInfo'
    SparkWalletExternalAccountInfo:
      title: Spark Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SparkWalletInfo'
    IdrBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    PhpBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    UgxBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    ZarBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    MxnAccountInfoBase:
      type: object
      required:
      - accountType
      - clabeNumber
      properties:
        accountType:
          type: string
          enum:
          - MXN_ACCOUNT
        clabeNumber:
          type: string
          description: The CLABE number of the bank
          example: '123456789012345678'
          minLength: 18
          maxLength: 18
          pattern: ^[0-9]{18}$
      example:
        accountType: MXN_ACCOUNT
        clabeNumber: '123456789012345678'
    GhsBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    TzsExternalAccountCreateInfo:
      title: TZS Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/TzsAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/TzsBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/TzsBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    KesAccountInfo:
      allOf:
      - $ref: '#/components/schemas/KesAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    VndBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    ExternalAccountCreateInfoOneOf:
      oneOf:
      - $ref: '#/components/schemas/AedExternalAccountCreateInfo'
      - $ref: '#/components/schemas/BdtExternalAccountCreateInfo'
      - $ref: '#/components/schemas/BrlExternalAccountCreateInfo'
      - $ref: '#/components/schemas/BwpExternalAccountCreateInfo'
      - $ref: '#/components/schemas/CadExternalAccountCreateInfo'
      - $ref: '#/components/schemas/CnyExternalAccountCreateInfo'
      - $ref: '#/components/schemas/CopExternalAccountCreateInfo'
      - $ref: '#/components/schemas/DkkExternalAccountCreateInfo'
      - $ref: '#/components/schemas/EgpExternalAccountCreateInfo'
      - $ref: '#/components/schemas/EurExternalAccountCreateInfo'
      - $ref: '#/components/schemas/GbpExternalAccountCreateInfo'
      - $ref: '#/components/schemas/GhsExternalAccountCreateInfo'
      - $ref: '#/components/schemas/GtqExternalAccountCreateInfo'
      - $ref: '#/components/schemas/HkdExternalAccountCreateInfo'
      - $ref: '#/components/schemas/HtgExternalAccountCreateInfo'
      - $ref: '#/components/schemas/IdrExternalAccountCreateInfo'
      - $ref: '#/components/schemas/InrExternalAccountCreateInfo'
      - $ref: '#/components/schemas/JmdExternalAccountCreateInfo'
      - $ref: '#/components/schemas/KesExternalAccountCreateInfo'
      - $ref: '#/components/schemas/MwkExternalAccountCreateInfo'
      - $ref: '#/components/schemas/MxnExternalAccountCreateInfo'
      - $ref: '#/components/schemas/MyrExternalAccountCreateInfo'
      - $ref: '#/components/schemas/NgnExternalAccountCreateInfo'
      - $ref: '#/components/schemas/PhpExternalAccountCreateInfo'
      - $ref: '#/components/schemas/PkrExternalAccountCreateInfo'
      - $ref: '#/components/schemas/RwfExternalAccountCreateInfo'
      - $ref: '#/components/schemas/SgdExternalAccountCreateInfo'
      - $ref: '#/components/schemas/SlvExternalAccountCreateInfo'
      - $ref: '#/components/schemas/ThbExternalAccountCreateInfo'
      - $ref: '#/components/schemas/TzsExternalAccountCreateInfo'
      - $ref: '#/components/schemas/UgxExternalAccountCreateInfo'
      - $ref: '#/components/schemas/UsdExternalAccountCreateInfo'
      - $ref: '#/components/schemas/VndExternalAccountCreateInfo'
      - $ref: '#/components/schemas/XafExternalAccountCreateInfo'
      - $ref: '#/components/schemas/XofExternalAccountCreateInfo'
      - $ref: '#/components/schemas/ZarExternalAccountCreateInfo'
      - $ref: '#/components/schemas/ZmwExternalAccountCreateInfo'
      - $ref: '#/components/schemas/SwiftExternalAccountCreateInfo'
      - $ref: '#/components/schemas/BaseWalletExternalAccountInfo'
      - $ref: '#/components/schemas/EthereumWalletExternalAccountInfo'
      - $ref: '#/components/schemas/LightningExternalAccountInfo'
      - $ref: '#/components/schemas/PolygonWalletExternalAccountInfo'
      - $ref: '#/components/schemas/SolanaWalletExternalAccountInfo'
      - $ref: '#/components/schemas/SparkWalletExternalAccountInfo'
      - $ref: '#/components/schemas/TronWalletExternalAccountInfo'
      discriminator:
        propertyName: accountType
        mapping:
          AED_ACCOUNT: '#/components/schemas/AedExternalAccountCreateInfo'
          BDT_ACCOUNT: '#/components/schemas/BdtExternalAccountCreateInfo'
          BRL_ACCOUNT: '#/components/schemas/BrlExternalAccountCreateInfo'
          BWP_ACCOUNT: '#/components/schemas/BwpExternalAccountCreateInfo'
          CAD_ACCOUNT: '#/components/schemas/CadExternalAccountCreateInfo'
          CNY_ACCOUNT: '#/components/schemas/CnyExternalAccountCreateInfo'
          COP_ACCOUNT: '#/components/schemas/CopExternalAccountCreateInfo'
          DKK_ACCOUNT: '#/components/schemas/DkkExternalAccountCreateInfo'
          EGP_ACCOUNT: '#/components/schemas/EgpExternalAccountCreateInfo'
          EUR_ACCOUNT: '#/components/schemas/EurExternalAccountCreateInfo'
          GBP_ACCOUNT: '#/components/schemas/GbpExternalAccountCreateInfo'
          GHS_ACCOUNT: '#/components/schemas/GhsExternalAccountCreateInfo'
          GTQ_ACCOUNT: '#/components/schemas/GtqExternalAccountCreateInfo'
          HKD_ACCOUNT: '#/components/schemas/HkdExternalAccountCreateInfo'
          HTG_ACCOUNT: '#/components/schemas/HtgExternalAccountCreateInfo'
          IDR_ACCOUNT: '#/components/schemas/IdrExternalAccountCreateInfo'
          INR_ACCOUNT: '#/components/schemas/InrExternalAccountCreateInfo'
          JMD_ACCOUNT: '#/components/schemas/JmdExternalAccountCreateInfo'
          KES_ACCOUNT: '#/components/schemas/KesExternalAccountCreateInfo'
          MWK_ACCOUNT: '#/components/schemas/MwkExternalAccountCreateInfo'
          MXN_ACCOUNT: '#/components/schemas/MxnExternalAccountCreateInfo'
          MYR_ACCOUNT: '#/components/schemas/MyrExternalAccountCreateInfo'
          NGN_ACCOUNT: '#/components/schemas/NgnExternalAccountCreateInfo'
          PHP_ACCOUNT: '#/components/schemas/PhpExternalAccountCreateInfo'
          PKR_ACCOUNT: '#/components/schemas/PkrExternalAccountCreateInfo'
          RWF_ACCOUNT: '#/components/schemas/RwfExternalAccountCreateInfo'
          SGD_ACCOUNT: '#/components/schemas/SgdExternalAccountCreateInfo'
          SLV_ACCOUNT: '#/components/schemas/SlvExternalAccountCreateInfo'
          THB_ACCOUNT: '#/components/schemas/ThbExternalAccountCreateInfo'
          TZS_ACCOUNT: '#/components/schemas/TzsExternalAccountCreateInfo'
          UGX_ACCOUNT: '#/components/schemas/UgxExternalAccountCreateInfo'
          USD_ACCOUNT: '#/components/schemas/UsdExternalAccountCreateInfo'
          VND_ACCOUNT: '#/components/schemas/VndExternalAccountCreateInfo'
          XAF_ACCOUNT: '#/components/schemas/XafExternalAccountCreateInfo'
          XOF_ACCOUNT: '#/components/schemas/XofExternalAccountCreateInfo'
          ZAR_ACCOUNT: '#/components/schemas/ZarExternalAccountCreateInfo'
          ZMW_ACCOUNT: '#/components/schemas/ZmwExternalAccountCreateInfo'
          SWIFT_ACCOUNT: '#/components/schemas/SwiftExternalAccountCreateInfo'
          BASE_WALLET: '#/components/schemas/BaseWalletExternalAccountInfo'
          ETHEREUM_WALLET: '#/components/schemas/EthereumWalletExternalAccountInfo'
          LIGHTNING: '#/components/schemas/LightningExternalAccountInfo'
          POLYGON_WALLET: '#/components/schemas/PolygonWalletExternalAccountInfo'
          SOLANA_WALLET: '#/components/schemas/SolanaWalletExternalAccountInfo'
          SPARK_WALLET: '#/components/schemas/SparkWalletExternalAccountInfo'
          TRON_WALLET: '#/components/schemas/TronWalletExternalAccountInfo'
    SlvAccountInfoBase:
      type: object
      required:
      - accountType
      description: 'Required fields depend on the selected paymentRails:

        - BANK_TRANSFER: bankAccountType, accountNumber

        - MOBILE_MONEY: phoneNumber'
      properties:
        accountType:
          type: string
          enum:
          - SLV_ACCOUNT
        bankName:
          type: string
          description: The name of the bank (BANK_TRANSFER only)
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: The account number of the bank (BANK_TRANSFER only)
          minLength: 1
          maxLength: 34
        bankAccountType:
          type: string
          description: The bank account type (BANK_TRANSFER only)
          enum:
          - CHECKING
          - SAVINGS
        phoneNumber:
          type: string
          description: The phone number in international format (MOBILE_MONEY only — e.g. Tigo Money)
          example: '+50312345678'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
      example:
        accountType: SLV_ACCOUNT
        bankName: Banco Cuscatlan
        accountNumber: 0123456789
        bankAccountType: CHECKING
    SwiftAccountInfoBase:
      type: object
      required:
      - accountType
      - swiftCode
      - bankName
      - country
      properties:
        accountType:
          type: string
          enum:
          - SWIFT_ACCOUNT
        country:
          type: string
          description: The ISO 3166-1 alpha-2 country code of the bank account
          example: NG
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: DEUTDEFF
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
        bankName:
          type: string
          description: The name of the bank
          example: Deutsche Bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: The bank account number. Required for most corridors. Use iban instead for IBAN-only corridors (e.g. BR, GB).
          example: '1234567890'
          minLength: 1
          maxLength: 34
        iban:
          type: string
          description: The IBAN of the bank account. Required for IBAN-only corridors (e.g. BR, GB). Use accountNumber for all other corridors.
          example: GB29NWBK60161331926819
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Za-z0-9]{11,30}$
      example:
        accountType: SWIFT_ACCOUNT
        country: NG
        swiftCode: DEUTDEFF
        bankName: Deutsche Bank
        accountNumber: '1234567890'
    ZmwExternalAccountCreateInfo:
      title: ZMW Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/ZmwAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/ZmwBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/ZmwBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    GhsAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      description: 'Required fields depend on the selected paymentRails:

        - BANK_TRANSFER: accountNumber, bankName

        - MOBILE_MONEY: bankName, phoneNumber'
      properties:
        accountType:
          type: string
          enum:
          - GHS_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
      example:
        accountType: GHS_ACCOUNT
        accountNumber: '1234567890'
        bankName: Example Bank
        phoneNumber: '+1234567890'
    DkkAccountInfoBase:
      type: object
      required:
      - accountType
      - iban
      properties:
        accountType:
          type: string
          enum:
          - DKK_ACCOUNT
        iban:
          type: string
          description: Danish IBAN (18 characters, starting with DK)
          example: DK5000400040116243
          minLength: 18
          maxLength: 18
          pattern: ^DK[0-9]{16}$
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: DABADKKK
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: DKK_ACCOUNT
        iban: DK5000400040116243
        swiftCode: DABADKKK
    JmdAccountInfoBase:
      type: object
      required:
      - accountType
      - accountNumber
      - branchCode
      - bankAccountType
      - bankName
      properties:
        accountType:
          type: string
          enum:
          - JMD_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        branchCode:
          type: string
          description: The branch code
          minLength: 5
          maxLength: 5
          pattern: ^[0-9]{5}$
        bankAccountType:
          type: string
          description: The bank account type
          enum:
          - CHECKING
          - SAVINGS
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
      example:
        accountType: JMD_ACCOUNT
        accountNumber: '1234567890'
        branchCode: '11111'
        bankAccountType: CHECKING
        bankName: Example Bank
    RwfExternalAccountInfo:
      title: RWF Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/RwfAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/RwfBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/RwfBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    CadAccountInfoBase:
      type: object
      required:
      - accountType
      - bankCode
      - branchCode
      - accountNumber
      properties:
        accountType:
          type: string
          enum:
          - CAD_ACCOUNT
        bankCode:
          type: string
          description: Canadian financial institution number (3 digits)
          example: '001'
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
        branchCode:
          type: string
          description: Transit number identifying the branch (5 digits)
          example: '00012'
          minLength: 5
          maxLength: 5
          pattern: ^[0-9]{5}$
        accountNumber:
          type: string
          description: Bank account number (7-12 digits)
          example: '1234567'
          minLength: 7
          maxLength: 12
          pattern: ^[0-9]{7,12}$
    SgdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/SgdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - PAYNOW
              - FAST
              - BANK_TRANSFER
    BwpExternalAccountCreateInfo:
      title: BWP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BwpAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/BwpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/BwpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    TzsAccountInfo:
      allOf:
      - $ref: '#/components/schemas/TzsAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    CopAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      description: 'Required fields depend on the selected paymentRails:

        - BANK_TRANSFER: accountNumber, bankAccountType, bankName

        - MOBILE_MONEY: bankName, phoneNumber'
      properties:
        accountType:
          type: string
          enum:
          - COP_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        bankAccountType:
          type: string
          description: The bank account type
          enum:
          - CHECKING
          - SAVINGS
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
      example:
        accountType: COP_ACCOUNT
        accountNumber: '1234567890'
        bankAccountType: CHECKING
        bankName: Example Bank
        phoneNumber: '+1234567890'
    GtqBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - countryOfResidence
      - fullName
      - phoneNumber
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    SolanaWalletExternalAccountInfo:
      title: Solana Wallet
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/SolanaWalletInfo'
    EurBeneficiary:
      title: Individual Beneficiary
      type: object
      required:
      - beneficiaryType
      - countryOfResidence
      - fullName
      properties:
        beneficiaryType:
          type: string
          enum:
          - INDIVIDUAL
        fullName:
          type: string
          description: The full name of the beneficiary
        birthDate:
          type: string
          description: The birth date of the beneficiary
        nationality:
          type: string
          description: The nationality of the beneficiary
        email:
          type: string
          description: The email of the beneficiary
        phoneNumber:
          type: string
          description: The phone number of the beneficiary
        countryOfResidence:
          type: string
          description: The country of residence of the beneficiary
        address:
          $ref: '#/components/schemas/Address'
    InrAccountInfo:
      allOf:
      - $ref: '#/components/schemas/InrAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - UPI
              - NEFT
              - RTGS
    BeneficiaryVerificationStatus:
      type: string
      enum:
      - MATCHED
      - PARTIAL_MATCH
      - NOT_MATCHED
      - UNSUPPORTED
      - CHECKED_BY_RECEIVING_FI
      - PENDING
      description: 'The result of verifying the beneficiary name against the account holder name.


        | Status | Description |

        |--------|-------------|

        | `MATCHED` | The beneficiary name is an exact match |

        | `PARTIAL_MATCH` | The beneficiary name is a fuzzy match |

        | `NOT_MATCHED` | The beneficiary name does not match |

        | `UNSUPPORTED` | The payment rail does not support name verification |

        | `CHECKED_BY_RECEIVING_FI` | Verification is deferred to the receiving financial institution (e.g. ACH) |

        | `PENDING` | Verification is still in progress |

        '
    ThbExternalAccountInfo:
      title: THB Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/ThbAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/ThbBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/ThbBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    PhpExternalAccountCreateInfo:
      title: PHP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/PhpAccountInfoBase'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/PhpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
              propertyName: beneficiaryType
              mapping:
                INDIVIDUAL: '#/components/schemas/PhpBeneficiary'
                BUSINESS: '#/components/schemas/BusinessBeneficiary'
    BwpExternalAccountInfo:
      title: BWP Account
      allOf:
      - $ref: '#/components/schemas/BaseExternalAccountInfo'
      - $ref: '#/components/schemas/BwpAccountInfo'
      - type: object
        required:
        - beneficiary
        properties:
          beneficiary:
            oneOf:
            - title: Individual Beneficiary
              $ref: '#/components/schemas/BwpBeneficiary'
            - title: Business Beneficiary
              $ref: '#/components/schemas/BusinessBeneficiary'
            discriminator:
[...]
