openapi: 3.2.0
info:
  title: Grid Webhooks API
  description: 'API for managing global payments on the open Money Grid. Built by Lightspark. See the full documentation at https://docs.lightspark.com/.

    '
  version: '2025-10-13'
  contact:
    name: Lightspark Support
    email: support@lightspark.com
  license:
    name: Proprietary
    url: https://lightspark.com/terms
servers:
- url: https://api.lightspark.com/grid/2025-10-13
  description: Production server
security:
- BasicAuth: []
- AgentAuth: []
tags:
- name: Webhooks
  description: Webhook endpoints and configuration for receiving notifications
paths: {}
webhooks:
  agent-action:
    post:
      summary: Agent action pending approval webhook
      description: 'Fired when an agent submits an action that requires platform approval before Grid will execute it. Use this to send a push notification to the customer so they can review and approve or reject the action in your app.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.


        The payload contains the full `AgentAction` — including the embedded quote or transfer details — so you can render the approval UI without a second API call. Approve or reject via `POST /agents/{agentId}/actions/{actionId}/approve` or `POST /agents/{agentId}/actions/{actionId}/reject`.

        '
      operationId: agentActionWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentActionWebhook'
            examples:
              pendingApproval:
                summary: Agent action pending approval
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000020
                  type: AGENT_ACTION.PENDING_APPROVAL
                  timestamp: '2025-10-03T15:00:00Z'
                  data:
                    id: AgentAction:019542f5-b3e7-1d02-0000-000000000099
                    agentId: Agent:019542f5-b3e7-1d02-0000-000000000042
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000010
                    platformCustomerId: user-a1b2c3
                    status: PENDING_APPROVAL
                    type: EXECUTE_QUOTE
                    quote:
                      id: Quote:019542f5-b3e7-1d02-0000-000000000006
                      status: PENDING
                      expiresAt: '2025-10-03T15:00:30Z'
                      createdAt: '2025-10-03T15:00:00Z'
                      source:
                        sourceType: ACCOUNT
                        accountId: InternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                      destination:
                        destinationType: ACCOUNT
                        accountId: ExternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                      sendingCurrency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                      receivingCurrency:
                        code: INR
                        name: Indian Rupee
                        symbol: ₹
                        decimals: 2
                      totalSendingAmount: 50000
                      totalReceivingAmount: 4625000
                      exchangeRate: 92.5
                      feesIncluded: 250
                      transactionId: Transaction:019542f5-b3e7-1d02-0000-000000000099
                    createdAt: '2025-10-03T15:00:00Z'
                    updatedAt: '2025-10-03T15:00:00Z'
      responses:
        '200':
          description: Webhook received and acknowledged.
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  incoming-payment:
    post:
      summary: Incoming payment webhook and approval mechanism
      description: 'Webhook that is called when an incoming payment is received by a customer''s UMA address.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.


        ### Payment Approval Flow

        When a transaction has `status: "PENDING"`, this webhook serves as an approval mechanism:


        1. The client should check the `counterpartyInformation` against their requirements

        2. To APPROVE the payment synchronously, return a 200 OK response

        3. To REJECT the payment, return a 403 Forbidden response with an Error object

        4. To request more information, return a 422 Unprocessable Entity with specific missing fields

        5. To process the payment asynchronously, return a 202 Accepted response and then call the `/transactions/{transactionId}/approve` or `/transactions/{transactionId}/reject` endpoint within 5 seconds. Note that synchronous approval/rejection is preferred where possible.


        The Grid system will proceed or cancel the payment based on your response.


        For transactions with other statuses (COMPLETED, FAILED, REFUNDED), this webhook is purely informational.

        '
      operationId: incomingPaymentWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingPaymentWebhook'
            examples:
              pendingPayment:
                summary: Pending payment example requiring approval
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000007
                  type: INCOMING_PAYMENT.PENDING
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Transaction:019542f5-b3e7-1d02-0000-000000000005
                    status: PENDING
                    type: INCOMING
                    direction: CREDIT
                    destination:
                      destinationType: UMA_ADDRESS
                      umaAddress: $recipient@uma.domain
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    senderUmaAddress: $sender@external.domain
                    receiverUmaAddress: $recipient@uma.domain
                    receivedAmount:
                      amount: 50000
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    counterpartyInformation:
                      FULL_NAME: John Sender
                      BIRTH_DATE: '1985-06-15'
                      NATIONALITY: US
                    reconciliationInstructions:
                      reference: REF-123456789
                    requestedReceiverCustomerInfoFields:
                    - name: NATIONALITY
                      mandatory: true
                    - name: POSTAL_ADDRESS
                      mandatory: false
              incomingCompletedPayment:
                summary: Completed payment notification
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000007
                  type: INCOMING_PAYMENT.COMPLETED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Transaction:019542f5-b3e7-1d02-0000-000000000005
                    status: COMPLETED
                    type: INCOMING
                    direction: CREDIT
                    destination:
                      destinationType: UMA_ADDRESS
                      umaAddress: $recipient@uma.domain
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    senderUmaAddress: $sender@external.domain
                    receiverUmaAddress: $recipient@uma.domain
                    receivedAmount:
                      amount: 50000
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    settledAt: '2025-08-15T14:30:00Z'
                    createdAt: '2025-08-15T14:25:18Z'
                    description: Payment for services
                    reconciliationInstructions:
                      reference: REF-123456789
              incomingCompletedCryptoPayment:
                summary: Completed payment funded from an external crypto wallet
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000009
                  type: INCOMING_PAYMENT.COMPLETED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Transaction:019542f5-b3e7-1d02-0000-000000000006
                    status: COMPLETED
                    type: INCOMING
                    direction: CREDIT
                    source:
                      sourceType: REALTIME_FUNDING
                      currency: USDC
                      onChainTransaction:
                        transactionHash: 7RJWhvQBQPEjJmki5fhBboGBWRJhmcFkMvrr4Fu3tMSJ5EdynMEiYSyiWAH9GpcbHpeUzeSQF9ZY6q4x8AhBskUf
                        network: SOLANA
                    destination:
                      destinationType: ACCOUNT
                      accountId: InternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    receivedAmount:
                      amount: 100000
                      currency:
                        code: USDC
                        name: USD Coin
                        symbol: ''
                        decimals: 6
                    settledAt: '2025-08-15T14:30:00Z'
                    createdAt: '2025-08-15T14:25:18Z'
                    description: USDC deposit from self-custody wallet
      responses:
        '200':
          description: 'Webhook received successfully.

            For PENDING transactions, this indicates approval to proceed with the payment.

            If `requestedReceiverCustomerInfoFields` were present in the webhook request, the corresponding fields for the recipient must be included in this response in the `receiverCustomerInfo` object.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingPaymentWebhookResponse'
        '202':
          description: 'Webhook received and will be processed asynchronously. The synchronous 200 response should be preferred where possible. This asycnhronous path should only be used in

            cases where the platform''s architecture requires async (but still very quick) processing before approving or rejecting the payment.

            The platform must call the `/transactions/{transactionId}/approve` or `/transactions/{transactionId}/reject` endpoint to approve or reject the payment within 5 seconds or the payment will be automatically rejected.

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: 'Forbidden - Payment rejected by the client.

            Only applicable for PENDING transactions.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingPaymentWebhookForbiddenResponse'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
        '422':
          description: 'Unprocessable Entity - Additional counterparty information required.

            Only applicable for PENDING transactions.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingPaymentWebhookUnprocessableResponse'
  outgoing-payment:
    post:
      summary: Outgoing payment status webhook
      description: 'Webhook that is called when an outgoing payment''s status changes.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.


        This webhook is informational only and is sent when an outgoing payment completes successfully, fails, or is refunded.

        '
      operationId: outgoingPaymentWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutgoingPaymentWebhook'
            examples:
              outgoingCompletedPayment:
                summary: Completed outgoing payment
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000007
                  type: OUTGOING_PAYMENT.COMPLETED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Transaction:019542f5-b3e7-1d02-0000-000000000005
                    status: COMPLETED
                    type: OUTGOING
                    direction: DEBIT
                    source:
                      sourceType: ACCOUNT
                      accountId: InternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                    destination:
                      destinationType: ACCOUNT
                      accountId: ExternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    senderUmaAddress: $sender@uma.domain
                    receiverUmaAddress: $recipient@external.domain
                    sentAmount:
                      amount: 10550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    receivedAmount:
                      amount: 9706
                      currency:
                        code: EUR
                        name: Euro
                        symbol: €
                        decimals: 2
                    exchangeRate: 0.92
                    quoteId: Quote:019542f5-b3e7-1d02-0000-000000000006
                    settledAt: '2025-08-15T14:30:00Z'
                    createdAt: '2025-08-15T14:25:18Z'
                    description: 'Payment for invoice #1234'
                    paymentInstructions: []
                    rateDetails:
                      counterpartyMultiplier: 1.08
                      counterpartyFixedFee: 10
                      gridApiMultiplier: 0.925
                      gridApiFixedFee: 10
                      gridApiVariableFeeRate: 0.003
                      gridApiVariableFeeAmount: 30
              outgoingCompletedCryptoPayment:
                summary: Completed crypto payout to an external wallet
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000008
                  type: OUTGOING_PAYMENT.COMPLETED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Transaction:019542f5-b3e7-1d02-0000-000000000009
                    status: COMPLETED
                    type: OUTGOING
                    direction: DEBIT
                    source:
                      sourceType: ACCOUNT
                      accountId: InternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                    destination:
                      destinationType: ACCOUNT
                      accountId: ExternalAccount:c34dcbd6-dced-4ec4-b756-3c3a9ea3d789
                      onChainTransaction:
                        transactionHash: h82pJGF9p7kpzb6eU326EFZf2cDnimbTFVeJtx1qtBmUNJAEqN76R7PwPfHt3oWb8R6cKvhgyxQdDn53jFrK6wFx
                        network: SOLANA
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    sentAmount:
                      amount: 100000
                      currency:
                        code: USDC
                        name: USD Coin
                        symbol: ''
                        decimals: 6
                    receivedAmount:
                      amount: 100000
                      currency:
                        code: USDC
                        name: USD Coin
                        symbol: ''
                        decimals: 6
                    quoteId: Quote:019542f5-b3e7-1d02-0000-000000000010
                    settledAt: '2025-08-15T14:30:00Z'
                    createdAt: '2025-08-15T14:25:18Z'
                    description: USDC withdrawal to self-custody wallet
                    paymentInstructions: []
              failedPayment:
                summary: Failed outgoing payment
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000007
                  type: OUTGOING_PAYMENT.FAILED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Transaction:019542f5-b3e7-1d02-0000-000000000005
                    status: FAILED
                    type: OUTGOING
                    direction: DEBIT
                    source:
                      sourceType: ACCOUNT
                      accountId: InternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
                    destination:
                      destinationType: ACCOUNT
                      accountId: ExternalAccount:a12dcbd6-dced-4ec4-b756-3c3a9ea3d123
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    senderUmaAddress: $sender@uma.domain
                    receiverUmaAddress: $recipient@external.domain
                    sentAmount:
                      amount: 10550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    createdAt: '2025-08-15T14:25:18Z'
                    quoteId: Quote:019542f5-b3e7-1d02-0000-000000000006
                    failureReason: QUOTE_EXECUTION_FAILED
      responses:
        '200':
          description: Webhook received successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  test-webhook:
    post:
      summary: Test webhook for integration verification
      description: 'Webhook that is sent once to verify your webhook endpoint is correctly set up.

        This is sent when you configure or update your platform settings with a webhook URL.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by the Grid API.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.


        This webhook is purely for testing your endpoint integration and signature verification.

        '
      operationId: testWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookRequest'
            examples:
              testWebhook:
                summary: Test webhook example
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000001
                  type: TEST
                  timestamp: '2025-08-15T14:32:00Z'
                  data: {}
      responses:
        '200':
          description: Webhook received successfully. This confirms your webhook endpoint is properly configured.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  bulk-upload:
    post:
      summary: Bulk upload status webhook
      description: 'Webhook that is called when a bulk customer upload job completes or fails.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.


        This webhook is sent when a bulk upload job completes or fails, providing detailed information about the results.

        '
      operationId: bulkUploadWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUploadWebhook'
            examples:
              completedUpload:
                summary: Successful bulk upload completion
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000008
                  type: BULK_UPLOAD.COMPLETED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Job:019542f5-b3e7-1d02-0000-000000000006
                    status: COMPLETED
                    progress:
                      total: 5000
                      processed: 5000
                      successful: 5000
                      failed: 0
                    errors: []
              failedUpload:
                summary: Failed bulk upload
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000008
                  type: BULK_UPLOAD.FAILED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Job:019542f5-b3e7-1d02-0000-000000000006
                    status: FAILED
                    progress:
                      total: 5000
                      processed: 5000
                      successful: 0
                      failed: 5000
                    errors:
                    - correlationId: row_1
                      error:
                        code: invalid_csv_format
                        message: Invalid CSV format
                        details:
                          reason: missing_required_column
                          column: umaAddress
      responses:
        '200':
          description: Webhook received successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  invitation-claimed:
    post:
      summary: Invitation claimed webhook
      description: 'Webhook that is called when an invitation is claimed by a customer.

        This endpoint should be implemented by platform clients of the Grid API.


        When a customer claims an invitation, this webhook is triggered to notify the platform that:

        1. The invitation has been successfully claimed

        2. The invitee UMA address is now associated with the invitation

        3. The invitation status has changed from PENDING to CLAIMED


        This allows platforms to:

        - Track invitation usage and conversion rates

        - Trigger onboarding flows for new customers who joined via invitation

        - Apply referral bonuses or rewards to the inviter

        - Update their UI to reflect the claimed status


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.

        '
      operationId: invitationClaimedWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationClaimedWebhook'
            examples:
              claimedInvitation:
                summary: Invitation claimed notification
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000008
                  type: INVITATION.CLAIMED
                  timestamp: '2025-09-01T15:45:00Z'
                  data:
                    code: 019542f5
                    createdAt: '2025-09-01T14:30:00Z'
                    claimedAt: '2025-09-01T15:45:00Z'
                    inviterUma: $inviter@uma.domain
                    inviteeUma: $invitee@uma.domain
                    status: CLAIMED
                    url: https://uma.me/i/019542f5
      responses:
        '200':
          description: Webhook received successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  customer-update:
    post:
      summary: Customer status change
      description: 'Webhook that is called when the status of a customer is updated, including KYC and KYB status changes.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid API public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.

        '
      operationId: customerStatusWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerWebhook'
            examples:
              kycApprovedWebhook:
                summary: When an individual customer KYC has been approved
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000007
                  type: CUSTOMER.KYC_APPROVED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 9f84e0c2a72c4fa
                    customerType: INDIVIDUAL
                    region: US
                    currencies:
                    - USD
                    - USDC
                    umaAddress: $john.doe@uma.domain.com
                    kycStatus: APPROVED
                    fullName: John Michael Doe
                    birthDate: '1990-01-15'
                    nationality: US
                    address:
                      line1: 123 Main Street
                      line2: Apt 4B
                      city: San Francisco
                      state: CA
                      postalCode: '94105'
                      country: US
                    createdAt: '2025-07-21T17:32:28Z'
                    updatedAt: '2025-07-21T17:32:28Z'
                    isDeleted: false
              kycRejectedWebhook:
                summary: When an individual customer KYC has been rejected
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000008
                  type: CUSTOMER.KYC_REJECTED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Customer:019542f5-b3e7-1d02-0000-000000000002
                    platformCustomerId: 4b7c1e9d3f5a8e2
                    customerType: INDIVIDUAL
                    region: US
                    currencies:
                    - USD
                    - USDC
                    umaAddress: $jane.smith@uma.domain.com
                    kycStatus: REJECTED
                    fullName: Jane Smith
                    birthDate: '1988-03-22'
                    nationality: US
                    createdAt: '2025-07-21T17:32:28Z'
                    updatedAt: '2025-08-15T14:32:00Z'
                    isDeleted: false
              kybApprovedWebhook:
                summary: When a business customer KYB has been approved
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000009
                  type: CUSTOMER.KYB_APPROVED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Customer:019542f5-b3e7-1d02-0000-000000000003
                    platformCustomerId: 7a2f9d4e1b8c3f5
                    customerType: BUSINESS
                    region: US
                    currencies:
                    - USD
                    - USDC
                    umaAddress: $acme.corp@uma.domain.com
                    kybStatus: APPROVED
                    address:
                      line1: 456 Business Ave
                      city: New York
                      state: NY
                      postalCode: '10001'
                      country: US
                    businessInfo:
                      legalName: Acme Corporation
                      registrationNumber: '12345678'
                      taxId: 98-7654321
                      incorporatedOn: '2018-03-14'
                    createdAt: '2025-07-21T17:32:28Z'
                    updatedAt: '2025-08-15T14:32:00Z'
                    isDeleted: false
              kybRejectedWebhook:
                summary: When a business customer KYB has been rejected
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000010
                  type: CUSTOMER.KYB_REJECTED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Customer:019542f5-b3e7-1d02-0000-000000000004
                    platformCustomerId: 3c8e5f2a9d1b7e4
                    customerType: BUSINESS
                    region: US
                    currencies:
                    - USD
                    umaAddress: $globex.inc@uma.domain.com
                    kybStatus: REJECTED
                    address:
                      line1: 789 Corporate Blvd
                      city: Chicago
                      state: IL
                      postalCode: '60601'
                      country: US
                    businessInfo:
                      legalName: Globex Inc
                      taxId: 47-1234567
                      incorporatedOn: '2015-09-01'
                    createdAt: '2025-07-21T17:32:28Z'
                    updatedAt: '2025-08-15T14:32:00Z'
                    isDeleted: false
      responses:
        '200':
          description: 'Webhook received successfully

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  internal-account-status:
    post:
      summary: Internal account status webhook
      description: 'Webhook that is called when the status of an internal account changes. This includes balance updates and may include additional account events in the future.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.


        ### Event types

        - `INTERNAL_ACCOUNT.BALANCE_UPDATED` — Fired when the balance of an internal account changes. The `data` payload contains the full internal account object.

        - `INTERNAL_ACCOUNT.STATUS_UPDATED` — Fired when the status of an internal account changes (e.g., `OPEN` → `FROZEN`). The `data` payload contains the full internal account object.

        '
      operationId: internalAccountStatusWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalAccountStatusWebhook'
            examples:
              balanceDecrease:
                summary: A transaction just cleared a customer account and the balance has decreased
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000007
                  type: INTERNAL_ACCOUNT.BALANCE_UPDATED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: InternalAccount:019542f5-b3e7-1d02-0000-000000000005
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    type: INTERNAL_FIAT
                    status: ACTIVE
                    balance:
                      amount: 10000
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    totalBalance:
                      amount: 12500
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    fundingPaymentInstructions: []
                    createdAt: '2025-08-01T10:00:00Z'
                    updatedAt: '2025-08-15T14:32:00Z'
              statusUpdated:
                summary: The status of an internal account changed (e.g., frozen by Grid)
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000008
                  type: INTERNAL_ACCOUNT.STATUS_UPDATED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: InternalAccount:019542f5-b3e7-1d02-0000-000000000005
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    type: INTERNAL_FIAT
                    status: FROZEN
                    balance:
                      amount: 10000
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    totalBalance:
                      amount: 10000
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    fundingPaymentInstructions: []
                    createdAt: '2025-08-01T10:00:00Z'
                    updatedAt: '2025-08-15T14:32:00Z'
      responses:
        '200':
          description: 'Webhook received successfully

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  verification-update:
    post:
      summary: Verification status change
      description: 'Webhook that is called when a customer''s KYC/KYB verification status changes.

        This endpoint should be implemented by clients of the Grid API.


        ### Authentication

        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid API public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.

        '
      operationId: verificationStatusWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationWebhook'
            examples:
              approved:
                summary: Verification approved
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000030
                  type: VERIFICATION.APPROVED
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Verification:019542f5-b3e7-1d02-0000-000000000010
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    verificationStatus: APPROVED
                    errors: []
                    createdAt: '2025-08-15T14:00:00Z'
              resolveErrors:
                summary: Verification requires action
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000031
                  type: VERIFICATION.RESOLVE_ERRORS
                  timestamp: '2025-08-15T14:32:00Z'
                  data:
                    id: Verification:019542f5-b3e7-1d02-0000-000000000011
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    verificationStatus: RESOLVE_ERRORS
                    errors:
                    - resourceId: Customer:019542f5-b3e7-1d02-0000-000000000001
                      type: MISSING_PROOF_OF_ADDRESS_DOCUMENT
                      acceptedDocumentTypes:
                      - PROOF_OF_ADDRESS
                      reason: Proof of address document is required
                    createdAt: '2025-08-15T14:00:00Z'
      responses:
        '200':
          description: 'Webhook received successfully

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  card-state-change:
    post:
      summary: Card state change
      description: 'Webhook that is called when a card''s lifecycle state changes. Fires on `PROCESSING → ACTIVE`, on `PROCESSING → CLOSED (ISSUER_REJECTED)` when issuer provisioning fails, and on every subsequent `ACTIVE ⇄ FROZEN` and `→ CLOSED` transition.


        This endpoint should be implemented by clients of the Grid API.


        ### Authentication


        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.

        '
      operationId: cardStateChangeWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardStateChangeWebhook'
            examples:
              activated:
                summary: Card transitioned from PROCESSING to ACTIVE
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000020
                  type: CARD.STATE_CHANGE
                  timestamp: '2026-05-08T14:11:00Z'
                  data:
                    id: Card:019542f5-b3e7-1d02-0000-000000000010
                    cardholderId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCardId: card-emp-aary-001
                    state: ACTIVE
                    stateReason: null
                    brand: VISA
                    form: VIRTUAL
                    last4: '4242'
                    expMonth: 12
                    expYear: 2029
                    fundingSources:
                    - InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    currency: USD
                    processorRef: card_b81c2a4f
                    issuerRef: lead_card_7a1b9c3d
                    createdAt: '2026-05-08T14:10:00Z'
                    updatedAt: '2026-05-08T14:11:00Z'
              issuerRejected:
                summary: Card rejected by issuer during provisioning
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000021
                  type: CARD.STATE_CHANGE
                  timestamp: '2026-05-08T14:12:00Z'
                  data:
                    id: Card:019542f5-b3e7-1d02-0000-000000000011
                    cardholderId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    state: CLOSED
                    stateReason: ISSUER_REJECTED
                    form: VIRTUAL
                    fundingSources:
                    - InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    currency: USD
                    createdAt: '2026-05-08T14:10:00Z'
                    updatedAt: '2026-05-08T14:12:00Z'
              frozen:
                summary: Card frozen by the platform
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000022
                  type: CARD.STATE_CHANGE
                  timestamp: '2026-05-09T09:00:00Z'
                  data:
                    id: Card:019542f5-b3e7-1d02-0000-000000000010
                    cardholderId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    state: FROZEN
                    stateReason: null
                    brand: VISA
                    form: VIRTUAL
                    last4: '4242'
                    expMonth: 12
                    expYear: 2029
                    fundingSources:
                    - InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    currency: USD
                    createdAt: '2026-05-08T14:10:00Z'
                    updatedAt: '2026-05-09T09:00:00Z'
      responses:
        '200':
          description: 'Webhook received successfully

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  card-funding-source-change:
    post:
      summary: Card funding source change
      description: 'Webhook that is called when the funding sources bound to a card change. Fires whenever `PATCH /cards/{id}` updates the `fundingSources` array. The payload carries the full `Card` resource with the post-change `fundingSources` array.


        This endpoint should be implemented by clients of the Grid API.


        ### Authentication


        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.

        '
      operationId: cardFundingSourceChangeWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardFundingSourceChangeWebhook'
            examples:
              fundingSourcesReplaced:
                summary: Funding sources replaced via PATCH /cards/{id}
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000030
                  type: CARD.FUNDING_SOURCE_CHANGE
                  timestamp: '2026-05-08T14:30:00Z'
                  data:
                    id: Card:019542f5-b3e7-1d02-0000-000000000010
                    cardholderId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    state: ACTIVE
                    stateReason: null
                    brand: VISA
                    form: VIRTUAL
                    last4: '4242'
                    expMonth: 12
                    expYear: 2029
                    fundingSources:
                    - InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    - InternalAccount:019542f5-b3e7-1d02-0000-000000000003
                    currency: USD
                    createdAt: '2026-05-08T14:10:00Z'
                    updatedAt: '2026-05-08T14:30:00Z'
      responses:
        '200':
          description: 'Webhook received successfully

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
  card-transaction:
    post:
      summary: Card transaction
      description: 'Webhook that is called on every state transition of a card `CardTransaction`. Fires when an authorization is approved (`CARD_TRANSACTION.AUTHORIZED`), as clearings settle against it (`CARD_TRANSACTION.PARTIALLY_SETTLED`, `CARD_TRANSACTION.SETTLED`), when settled funds are returned (`CARD_TRANSACTION.REFUNDED`), and when a pull or confirmation fails (`CARD_TRANSACTION.EXCEPTION`). The payload carries the full `CardTransaction` resource.


        This endpoint should be implemented by clients of the Grid API.


        ### Authentication


        The webhook includes a signature in the `X-Grid-Signature` header that allows you to verify that the webhook was sent by Grid.

        To verify the signature:

        1. Get the Grid public key provided to you during integration

        2. Decode the base64 signature from the header

        3. Create a SHA-256 hash of the request body

        4. Verify the signature using the public key and the hash


        If the signature verification succeeds, the webhook is authentic. If not, it should be rejected.

        '
      operationId: cardTransactionWebhook
      tags:
      - Webhooks
      security:
      - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTransactionWebhook'
            examples:
              authorized:
                summary: Authorization approved
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000040
                  type: CARD_TRANSACTION.AUTHORIZED
                  timestamp: '2026-05-09T10:00:00Z'
                  data:
                    type: CARD
                    id: CardTransaction:019542f5-b3e7-1d02-0000-000000000100
                    cardId: Card:019542f5-b3e7-1d02-0000-000000000010
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    issuerTransactionToken: lithic_txn_b81c2a4f
                    status: AUTHORIZED
                    direction: DEBIT
                    merchant:
                      descriptor: BLUE BOTTLE COFFEE SF
                      mcc: '5814'
                      country: US
                    authorizedAmount:
                      amount: 12550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    accountId: InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    pullSummary:
                      count: 1
                      totalAmount: 12550
                      pendingCount: 1
                    refundSummary:
                      count: 0
                      totalAmount: 0
                    settlementSummary:
                      count: 0
                      totalAmount: 0
                    authorizedAt: '2026-05-09T10:00:00Z'
                    createdAt: '2026-05-09T10:00:00Z'
                    updatedAt: '2026-05-09T10:00:00Z'
              settled:
                summary: All clearings posted
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000041
                  type: CARD_TRANSACTION.SETTLED
                  timestamp: '2026-05-09T15:42:11Z'
                  data:
                    type: CARD
                    id: CardTransaction:019542f5-b3e7-1d02-0000-000000000100
                    cardId: Card:019542f5-b3e7-1d02-0000-000000000010
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    issuerTransactionToken: lithic_txn_b81c2a4f
                    status: SETTLED
                    direction: DEBIT
                    merchant:
                      descriptor: BLUE BOTTLE COFFEE SF
                      mcc: '5814'
                      country: US
                    authorizedAmount:
                      amount: 12550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    settledAmount:
                      amount: 12550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    accountId: InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    pullSummary:
                      count: 1
                      totalAmount: 12550
                      pendingCount: 0
                    refundSummary:
                      count: 0
                      totalAmount: 0
                    settlementSummary:
                      count: 1
                      totalAmount: 12550
                    authorizedAt: '2026-05-09T10:00:00Z'
                    lastEventAt: '2026-05-09T15:42:11Z'
                    createdAt: '2026-05-09T10:00:00Z'
                    updatedAt: '2026-05-09T15:42:11Z'
              refunded:
                summary: Settled funds returned by the merchant
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000042
                  type: CARD_TRANSACTION.REFUNDED
                  timestamp: '2026-05-10T09:15:00Z'
                  data:
                    type: CARD
                    id: CardTransaction:019542f5-b3e7-1d02-0000-000000000100
                    cardId: Card:019542f5-b3e7-1d02-0000-000000000010
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    issuerTransactionToken: lithic_txn_b81c2a4f
                    status: REFUNDED
                    direction: DEBIT
                    merchant:
                      descriptor: BLUE BOTTLE COFFEE SF
                      mcc: '5814'
                      country: US
                    authorizedAmount:
                      amount: 12550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    settledAmount:
                      amount: 12550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    refundedAmount:
                      amount: 12550
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    accountId: InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    pullSummary:
                      count: 1
                      totalAmount: 12550
                      pendingCount: 0
                    refundSummary:
                      count: 1
                      totalAmount: 12550
                    settlementSummary:
                      count: 1
                      totalAmount: 12550
                    authorizedAt: '2026-05-09T10:00:00Z'
                    lastEventAt: '2026-05-10T09:15:00Z'
                    createdAt: '2026-05-09T10:00:00Z'
                    updatedAt: '2026-05-10T09:15:00Z'
              exception:
                summary: Settled to the network but the funding-source pull failed
                value:
                  id: Webhook:019542f5-b3e7-1d02-0000-000000000043
                  type: CARD_TRANSACTION.EXCEPTION
                  timestamp: '2026-05-09T16:05:00Z'
                  data:
                    type: CARD
                    id: CardTransaction:019542f5-b3e7-1d02-0000-000000000101
                    cardId: Card:019542f5-b3e7-1d02-0000-000000000010
                    customerId: Customer:019542f5-b3e7-1d02-0000-000000000001
                    platformCustomerId: 18d3e5f7b4a9c2
                    issuerTransactionToken: lithic_txn_c92d3b5a
                    status: EXCEPTION
                    direction: DEBIT
                    merchant:
                      descriptor: UBER EATS
                      mcc: '5812'
                      country: US
                    authorizedAmount:
                      amount: 4200
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    settledAmount:
                      amount: 4200
                      currency:
                        code: USD
                        name: United States Dollar
                        symbol: $
                        decimals: 2
                    accountId: InternalAccount:019542f5-b3e7-1d02-0000-000000000002
                    pullSummary:
                      count: 1
                      totalAmount: 0
                      pendingCount: 0
                    refundSummary:
                      count: 0
                      totalAmount: 0
                    settlementSummary:
                      count: 1
                      totalAmount: 4200
                    authorizedAt: '2026-05-09T15:30:00Z'
                    lastEventAt: '2026-05-09T16:05:00Z'
                    createdAt: '2026-05-09T15:30:00Z'
                    updatedAt: '2026-05-09T16:05:00Z'
      responses:
        '200':
          description: 'Webhook received successfully

            '
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: Unauthorized - Signature validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '409':
          description: Conflict - Webhook has already been processed (duplicate id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error409'
components:
  schemas:
    Quote:
      type: object
      required:
      - id
      - status
      - expiresAt
      - createdAt
      - source
      - destination
      - sendingCurrency
      - receivingCurrency
      - totalSendingAmount
      - totalReceivingAmount
      - exchangeRate
      - feesIncluded
      - transactionId
      properties:
        id:
          type: string
          description: Unique identifier for this quote
          example: Quote:019542f5-b3e7-1d02-0000-000000000006
        status:
          type: string
          enum:
          - PENDING
          - PENDING_AUTHORIZATION
          - PROCESSING
          - COMPLETED
          - FAILED
          - EXPIRED
          description: 'Current status of the quote. `PENDING_AUTHORIZATION` occurs only for customers in a region where Strong Customer Authentication is required (e.g. EU): the quote carries an `scaChallenge` that must be authorized before execution, and for realtime-funding sources `paymentInstructions` are withheld until it is satisfied.'
          example: PENDING
        createdAt:
          type: string
          format: date-time
          description: When this quote was created
          example: '2025-10-03T12:00:00Z'
        expiresAt:
          type: string
          format: date-time
          description: 'Absolute UTC timestamp when the rate locked in this quote becomes invalid and the quote can no longer be executed. The window depends on the rail and corridor: instant rails (Lightning, Spark, USDC on Solana/Base/Polygon, RTP, SEPA Instant) typically expire in 1–5 minutes; corridors with longer settlement guarantees may have longer windows. Always rely on this timestamp rather than assuming a fixed window.'
          example: '2025-10-03T12:05:00Z'
        source:
          $ref: '#/components/schemas/QuoteSourceOneOf'
        destination:
          $ref: '#/components/schemas/QuoteDestinationOneOf'
        sendingCurrency:
          $ref: '#/components/schemas/Currency'
          description: Currency for the sending amount
        receivingCurrency:
          $ref: '#/components/schemas/Currency'
          description: Currency for the receiving amount
        totalSendingAmount:
          type: integer
          format: int64
          description: The total amount that will be sent in the smallest unit of the sending currency (eg. cents).
          exclusiveMinimum: 0
          example: 123010
        totalReceivingAmount:
          type: integer
          format: int64
          description: The total amount that will be received in the smallest unit of the receiving currency (eg. cents).
          exclusiveMinimum: 0
          example: 1000
        exchangeRate:
          type: number
          description: Number of sending currency units per receiving currency unit.
          exclusiveMinimum: 0
        feesIncluded:
          type: integer
          format: int64
          description: 'The fees associated with the quote in the smallest unit of the sending currency (eg. cents). Note: this value may fluctuate between quotes — some underlying fee components are defined in the receiving currency, so their equivalent in the sending currency moves with the FX rate. The fees shown here are locked only for the lifetime of this quote.'
          minimum: 0
          example: 10
        paymentInstructions:
          type: array
          description: Payment instructions for executing the payment. This is not required when using an internal account source.
          items:
            $ref: '#/components/schemas/PaymentInstructions'
          example:
          - accountOrWalletInfo:
              accountType: USD_ACCOUNT
              paymentRails:
              - ACH
              - WIRE
              accountNumber: '1234567890'
              routingNumber: '021000021'
              bankName: Chase Bank
              reference: UMA-Q12345-REF
            instructionsNotes: Include reference UMA-Q12345-REF in memo
          - accountOrWalletInfo:
              accountType: SPARK_WALLET
              assetType: BTC
              address: spark1pgssyuuuhnrrdjswal5c3s3rafw9w3y5dd4cjy3duxlf7hjzkp0rqx6dj6mrhu
              invoice: lnbc15u1p3xnhl2pp5jptserfk3zk4qy42tlucycrfwxhydvlemu9pqr93tuzlv9cc7g3sdqsvfhkcap3xyhx7un8cqzpgxqzjcsp5f8c52y2stc300gl6s4xswtjpc37hrnnr3c9wvtgjfuvqmpm35evq9qyyssqy4lgd8tj637qcjp05rdpxxykjenthxftej7a2zzmwrmrl70fyj9hvj0rewhzj7jfyuwkwcg9g2jpwtk3wkjtwnkdks84hsnu8xps5vsq4gj5hs
        transactionId:
          type: string
          description: The ID of the transaction created from this quote.
          example: Transaction:019542f5-b3e7-1d02-0000-000000000005
        remittanceInformation:
          type: string
          maxLength: 80
          description: 'Free-form information about the payment that travels with it to the recipient, as provided on the quote request. The field this populates depends on the payment rail: for ACH it populates the Addenda record, for FedNow and RTP it populates the remittanceInformation field, and for wires it populates the OBI (Originator to Beneficiary Information) / beneficiary information.'
          example: '12345'
        counterpartyInformation:
          $ref: '#/components/schemas/CounterpartyInformation'
          description: Additional information about the counterparty, if available and required by the platform in their configuration.
        rateDetails:
          $ref: '#/components/schemas/OutgoingRateDetails'
          description: Details about the rate and fees for the transaction.
        scaChallenge:
          $ref: '#/components/schemas/ScaChallenge'
          readOnly: true
          description: 'Present only while `status` is `PENDING_AUTHORIZATION`: the Strong Customer Authentication challenge to satisfy before this quote can be executed (or, for realtime-funding sources, before `paymentInstructions` are issued). Omitted for customers outside SCA-regulated regions (non-EU).'
    BulkCustomerImportJob:
      type: object
      required:
      - id
      - status
      - progress
      properties:
        id:
          type: string
          description: Unique identifier for the bulk import job
          example: Job:019542f5-b3e7-1d02-0000-000000000006
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
          - FAILED
          description: Current status of the job
          example: PROCESSING
        progress:
          type: object
          required:
          - total
          - processed
          - successful
          - failed
          properties:
            total:
              type: integer
              description: Total number of customers to process
              example: 5000
            processed:
              type: integer
              description: Number of customers processed so far
              example: 2500
            successful:
              type: integer
              description: Number of customers successfully created
              example: 2450
            failed:
              type: integer
              description: Number of customers that failed to create
              example: 50
        errors:
          type: array
          description: Detailed error information for failed entries
          items:
            $ref: '#/components/schemas/BulkCustomerImportErrorEntry'
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the job completed (only present for COMPLETED or FAILED status)
          example: '2025-08-15T14:32:00Z'
    Refund:
      type: object
      required:
      - reference
      - initiatedAt
      - status
      properties:
        reference:
          type: string
          description: The unique reference ID of the refund
          example: UMA-Q12345-REFUND
        initiatedAt:
          type: string
          format: date-time
          description: When the refund was initiated
          example: '2025-08-15T14:30:00Z'
        settledAt:
          type: string
          format: date-time
          description: When the refund was settled
          example: '2025-08-15T14:35:00Z'
        status:
          type: string
          enum:
          - PENDING
          - COMPLETED
          - FAILED
          description: Current status of the refund
          example: COMPLETED
        reason:
          type: string
          enum:
          - TRANSACTION_FAILED
          - USER_CANCELLATION
          - TIMEOUT
          description: Reason for the refund
          example: TRANSACTION_FAILED
    InternalAccountStatusWebhook:
      allOf:
      - $ref: '#/components/schemas/BaseWebhook'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/InternalAccount'
          type:
            type: string
            enum:
            - INTERNAL_ACCOUNT.BALANCE_UPDATED
            - INTERNAL_ACCOUNT.STATUS_UPDATED
    BasePaymentAccountInfo:
      type: object
      required:
      - accountType
      properties:
        accountType:
          $ref: '#/components/schemas/PaymentAccountType'
    VerificationErrorType:
      type: string
      enum:
      - MISSING_FIELD
      - INVALID_FIELD
      - MISSING_LEGAL_PRESENCE_DOCUMENT
      - MISSING_CONTROL_STRUCTURE_DOCUMENT
      - MISSING_OWNERSHIP_STRUCTURE_DOCUMENT
      - MISSING_PROOF_OF_ADDRESS_DOCUMENT
      - MISSING_IDENTITY_DOCUMENT
      - INVALID_DOCUMENT
      - EXPIRED_DOCUMENT
      - POOR_QUALITY_DOCUMENT
      - SUSPECTED_FRAUD_DOCUMENT
      - WRONG_DOCUMENT_TYPE
      - INCOMPLETE_DOCUMENT
      - UNREADABLE_DOCUMENT
      - DOCUMENT_VERIFICATION_FAILED
      - APPLICANT_SANCTIONED
      - APPLICANT_FRAUD
      - APPLICANT_CRIMINAL_RECORD
      - APPLICANT_REJECTED
      - MISSING_BENEFICIAL_OWNER
      - MISSING_CONTROL_PERSON
      - MISSING_GOOD_STANDING_DOCUMENT
      description: Type of verification error. The category-specific MISSING_*_DOCUMENT types indicate which document category is needed. Document quality types (POOR_QUALITY_DOCUMENT, SUSPECTED_FRAUD_DOCUMENT, etc.) indicate specific issues with uploaded documents. APPLICANT_* types indicate issues with the applicant themselves (sanctions, fraud, criminal records).
      example: MISSING_FIELD
    QuoteDestinationOneOf:
      oneOf:
      - $ref: '#/components/schemas/AccountDestination'
      - $ref: '#/components/schemas/UmaAddressDestination'
      discriminator:
        propertyName: destinationType
        mapping:
          ACCOUNT: '#/components/schemas/AccountDestination'
          UMA_ADDRESS: '#/components/schemas/UmaAddressDestination'
    BdtAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BdtAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    PhpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/PhpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    XofAccountInfoBase:
      type: object
      required:
      - accountType
      - phoneNumber
      - provider
      - region
      properties:
        accountType:
          type: string
          enum:
          - XOF_ACCOUNT
        phoneNumber:
          type: string
          description: The phone number in international format
          example: '+1234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+[0-9]{6,14}$
        provider:
          type: string
          description: The mobile money provider name
          minLength: 1
          maxLength: 255
        region:
          type: string
          description: Country code within the West African CFA franc zone
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          enum:
          - BJ
          - CI
          - SN
          - TG
      example:
        accountType: XOF_ACCOUNT
        phoneNumber: '+1234567890'
        provider: Example Provider
        region: BJ
    PaymentEthereumWalletInfo:
      title: Ethereum Wallet
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/EthereumWalletInfo'
      - type: object
        properties:
          assetType:
            type: string
            description: Type of asset
            enum:
            - USDC
    HkdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/HkdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    PaymentUsdAccountInfo:
      title: USD Bank Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/UsdAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    PaymentCadAccountInfo:
      title: CAD Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/CadAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    PaymentGhsAccountInfo:
      title: GHS Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/GhsAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    TransactionType:
      type: string
      enum:
      - INCOMING
      - OUTGOING
      description: Type of transaction (incoming payment or outgoing payment)
    PaymentEmbeddedWalletInfo:
      title: Embedded Wallet
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - type: object
        required:
        - accountType
        - payloadToSign
        properties:
          accountType:
            type: string
            enum:
            - EMBEDDED_WALLET
            description: Discriminator value identifying this as Embedded Wallet payment instructions.
          payloadToSign:
            type: string
            description: JSON-encoded transaction signing payload that must be stamped, as-is (byte-for-byte, without re-serialization), with the session private key of a verified authentication credential on the source Embedded Wallet. The resulting Grid wallet signature is passed as the `Grid-Wallet-Signature` header on `POST /quotes/{quoteId}/execute` to authorize the outbound transfer from the wallet.
            example: '{"type":"ACTIVITY_TYPE_SIGN_TRANSACTION_V2","timestampMs":"1746736509954","organizationId":"org_abc123","parameters":{"signWith":"wallet_abc123def456","unsignedTransaction":"ea69b4bf05f775209f26ff0a34a05569180f7936579d5c4af9377ae550194f72","type":"TRANSACTION_TYPE_ETHEREUM"},"generateAppProofs":true}'
    DocumentType:
      type: string
      enum:
      - PASSPORT
      - DRIVERS_LICENSE
      - NATIONAL_ID
      - PROOF_OF_ADDRESS
      - BANK_STATEMENT
      - TAX_RETURN
      - CERTIFICATE_OF_INCORPORATION
      - ARTICLES_OF_INCORPORATION
      - ARTICLES_OF_ASSOCIATION
      - STATE_REGISTRY_EXCERPT
      - GOOD_STANDING_CERTIFICATE
      - INFORMATION_STATEMENT
      - INCUMBENCY_CERTIFICATE
      - BUSINESS_LICENSE
      - SHAREHOLDER_REGISTER
      - POWER_OF_ATTORNEY
      - UTILITY_BILL
      - ELECTRICITY_BILL
      - RENT_OR_LEASE_AGREEMENT
      - DIRECTOR_REGISTRY
      - TRUST_AGREEMENT
      - STATE_COMPANY_REGISTRY
      - PARTNERSHIP_CONTROL_AGREEMENT
      - PARTNERSHIP_AGREEMENT
      - SELFIE
      - OTHER
      description: 'Type of identity or business verification document. Document types are grouped by verification category:

        **Identity** — PASSPORT, DRIVERS_LICENSE, NATIONAL_ID

        **Business — Legal presence** — CERTIFICATE_OF_INCORPORATION, ARTICLES_OF_INCORPORATION, ARTICLES_OF_ASSOCIATION, STATE_REGISTRY_EXCERPT

        **Business — Control structure** — DIRECTOR_REGISTRY, TRUST_AGREEMENT, STATE_COMPANY_REGISTRY, PARTNERSHIP_CONTROL_AGREEMENT

        **Business — Ownership structure** — SHAREHOLDER_REGISTER, TRUST_AGREEMENT, PARTNERSHIP_AGREEMENT

        **Proof of address** — UTILITY_BILL, RENT_OR_LEASE_AGREEMENT, ELECTRICITY_BILL, BANK_STATEMENT, TAX_RETURN'
      example: PASSPORT
    CardTransaction:
      title: Card Transaction
      type: object
      required:
      - type
      - id
      - status
      - direction
      - merchant
      - authorizedAmount
      - accountId
      - customerId
      - platformCustomerId
      - authorizedAt
      - createdAt
      - updatedAt
      description: Parent transaction row for a card authorization and all of the pulls / settlements / refunds that reconcile against it. Child events are rolled up into the `pullSummary`, `refundSummary`, and `settlementSummary` aggregates. Delivered as the payload of the generic transaction webhook stream (extends the Transaction model with a card destination type) on every transition.
      properties:
        type:
          type: string
          enum:
          - CARD
          description: Discriminator identifying this transaction as a card transaction in the `Transaction` list.
        id:
          type: string
          description: System-generated unique card transaction identifier
          readOnly: true
          example: CardTransaction:019542f5-b3e7-1d02-0000-000000000100
        cardId:
          type: string
          description: The id of the `Card` this transaction was made on.
          example: Card:019542f5-b3e7-1d02-0000-000000000010
        customerId:
          type: string
          description: System ID of the customer (cardholder) this transaction belongs to.
          example: Customer:019542f5-b3e7-1d02-0000-000000000001
        platformCustomerId:
          type: string
          description: Platform-specific ID of the customer (cardholder) this transaction belongs to.
          example: 18d3e5f7b4a9c2
        issuerTransactionToken:
          type: string
          description: Opaque identifier for the transaction on the underlying issuer. Used to cross-reference Grid records against issuer dashboards and webhooks.
          example: lithic_txn_b81c2a4f
          readOnly: true
        status:
          $ref: '#/components/schemas/CardTransactionStatus'
        direction:
          $ref: '#/components/schemas/TransactionDirection'
          description: Card transactions debit the customer's account.
          example: DEBIT
        merchant:
          $ref: '#/components/schemas/CardMerchant'
        authorizedAmount:
          $ref: '#/components/schemas/CurrencyAmount'
        settledAmount:
          $ref: '#/components/schemas/CurrencyAmount'
        refundedAmount:
          $ref: '#/components/schemas/CurrencyAmount'
        accountId:
          type: string
          description: Internal account id that funded this transaction (the funding source selected by Authorization Decisioning at auth time).
          example: InternalAccount:019542f5-b3e7-1d02-0000-000000000002
        pullSummary:
          $ref: '#/components/schemas/CardPullSummary'
        refundSummary:
          $ref: '#/components/schemas/CardRefundSummary'
        settlementSummary:
          $ref: '#/components/schemas/CardSettlementSummary'
        authorizedAt:
          type: string
          format: date-time
          description: When the auth was approved.
          example: '2026-05-08T14:30:00Z'
        lastEventAt:
          type: string
          format: date-time
          description: Timestamp of the most recent reconcile event (pull / clearing / refund) against this transaction.
          example: '2026-05-08T15:42:11Z'
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp (same as `authorizedAt` for card transactions).
          readOnly: true
          example: '2026-05-08T14:30:00Z'
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp.
          readOnly: true
          example: '2026-05-08T15:42:11Z'
    UgxAccountInfo:
      allOf:
      - $ref: '#/components/schemas/UgxAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    MyrAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - MYR_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Malaysian bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: MABORUMMYYY
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: MYR_ACCOUNT
        bankName: Example Bank
        accountNumber: '1234567890'
        swiftCode: MABORUMMYYY
    InternalAccountType:
      title: Internal Account Type
      type: string
      enum:
      - INTERNAL_FIAT
      - INTERNAL_CRYPTO
      - EMBEDDED_WALLET
      description: 'Classification of an internal account.


        - `INTERNAL_FIAT`: A Grid-managed fiat holding account (for example, the USD holding account used as the source for Payouts flows).

        - `INTERNAL_CRYPTO`: A Grid-managed crypto holding account denominated in a stablecoin such as USDC.

        - `EMBEDDED_WALLET`: A self-custodial Embedded Wallet provisioned for the customer. Outbound transfers require a session signature produced by the customer''s device — see the Embedded Wallets guide.'
    IncomingPaymentWebhookResponse:
      type: object
      properties:
        receiverCustomerInfo:
          type: object
          additionalProperties: true
          description: Information about the recipient, provided by the platform if requested in the webhook via `requestedReceiverCustomerInfoFields` and the payment is approved.
    TransactionOneOf:
      oneOf:
      - $ref: '#/components/schemas/IncomingTransaction'
      - $ref: '#/components/schemas/OutgoingTransaction'
      - $ref: '#/components/schemas/CardTransaction'
      discriminator:
        propertyName: type
        mapping:
          INCOMING: '#/components/schemas/IncomingTransaction'
          OUTGOING: '#/components/schemas/OutgoingTransaction'
          CARD: '#/components/schemas/CardTransaction'
    HkdAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      properties:
        accountType:
          type: string
          enum:
          - HKD_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
        accountNumber:
          type: string
          description: Hong Kong bank account number
          minLength: 1
          maxLength: 34
          example: '123456789012'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: HSBCHKHHHKH
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: HKD_ACCOUNT
        bankName: Example Bank
        accountNumber: '123456789012'
        swiftCode: HSBCHKHHHKH
    PaymentUgxAccountInfo:
      title: UGX Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/UgxAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    UsdAccountInfoBase:
      type: object
      required:
      - accountType
      - accountNumber
      - routingNumber
      properties:
        accountType:
          type: string
          enum:
          - USD_ACCOUNT
        accountNumber:
          type: string
          description: The account number of the bank
          minLength: 1
          maxLength: 34
        routingNumber:
          type: string
          description: The ABA routing number
          example: '021000021'
          minLength: 9
          maxLength: 9
          pattern: ^[0-9]{9}$
      example:
        accountType: USD_ACCOUNT
        accountNumber: '1234567890'
        routingNumber: '021000021'
    PaymentBaseWalletInfo:
      title: Base Wallet
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/BaseWalletInfo'
      - type: object
        properties:
          assetType:
            type: string
            description: Type of asset
            enum:
            - USDC
    CounterpartyFieldDefinition:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CustomerInfoFieldName'
        mandatory:
          type: boolean
          description: Whether the field is mandatory
          example: true
      required:
      - name
      - mandatory
    BusinessCustomer:
      title: Business Customer
      allOf:
      - $ref: '#/components/schemas/Customer'
      - $ref: '#/components/schemas/BusinessCustomerFields'
      - type: object
        properties:
          businessInfo:
            $ref: '#/components/schemas/BusinessInfoResponse'
          beneficialOwners:
            type: array
            items:
              $ref: '#/components/schemas/BeneficialOwner'
    EgpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/EgpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
              - MOBILE_MONEY
    AccountTransactionSource:
      title: Account Source
      allOf:
      - $ref: '#/components/schemas/BaseTransactionSource'
      - type: object
        required:
        - accountId
        - sourceType
        properties:
          sourceType:
            type: string
            enum:
            - ACCOUNT
          accountId:
            type: string
            description: Source account identifier
            example: InternalAccount:e85dcbd6-dced-4ec4-b756-3c3a9ea3d965
          onChainTransaction:
            $ref: '#/components/schemas/OnChainTransaction'
            description: On-chain transaction that delivered funds from this source, when the source is an external crypto wallet. Populated once the crypto transfer has settled.
        description: Source account details
    IncomingTransactionFailureReason:
      type: string
      enum:
      - LNURLP_FAILED
      - PAY_REQUEST_FAILED
      - PAYMENT_APPROVAL_WEBHOOK_ERROR
      - PAYMENT_APPROVAL_TIMED_OUT
      - OFFRAMP_FAILED
      - MISSING_MANDATORY_PAYEE_DATA
      - QUOTE_EXPIRED
      - QUOTE_EXECUTION_FAILED
      description: Reason for failure of an incoming transaction. This is used to provide more context on why a transaction failed. If the transaction is not in a failed state, this field is omitted.
    IdentificationType:
      type: string
      enum:
      - SSN
      - ITIN
      - EIN
      - NON_US_TAX_ID
      description: Type of tax identification
      example: SSN
    GtqAccountInfo:
      allOf:
      - $ref: '#/components/schemas/GtqAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    BaseTransactionSource:
      type: object
      required:
      - sourceType
      properties:
        sourceType:
          $ref: '#/components/schemas/TransactionSourceType'
        currency:
          type: string
          description: Currency code for the source
          example: USD
    IdrAccountInfoBase:
      type: object
      required:
      - accountType
      - bankName
      - accountNumber
      - swiftCode
      - phoneNumber
      properties:
        accountType:
          type: string
          enum:
          - IDR_ACCOUNT
        bankName:
          type: string
          description: The name of the bank
          minLength: 1
          maxLength: 255
          example: Bank Central Asia
        accountNumber:
          type: string
          description: Indonesian bank account number
          minLength: 1
          maxLength: 34
          example: '1234567890'
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: CENAIDJA
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
        phoneNumber:
          type: string
          description: Indonesian phone number for e-wallet payments
          example: '+6281234567890'
          minLength: 7
          maxLength: 15
          pattern: ^\+62[0-9]{9,12}$
      example:
        accountType: IDR_ACCOUNT
        bankName: Bank Central Asia
        accountNumber: '1234567890'
        swiftCode: CENAIDJA
        phoneNumber: '+6281234567890'
    BaseWebhook:
      type: object
      required:
      - timestamp
      - id
      - type
      properties:
        id:
          type: string
          description: Unique identifier for this webhook delivery (can be used for idempotency)
          example: Webhook:019542f5-b3e7-1d02-0000-000000000007
        type:
          $ref: '#/components/schemas/WebhookType'
          description: Status-specific event type in OBJECT.EVENT dot-notation (e.g., OUTGOING_PAYMENT.COMPLETED)
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the webhook was sent
          example: '2025-08-15T14:32:00Z'
    JmdAccountInfo:
      allOf:
      - $ref: '#/components/schemas/JmdAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    AedAccountInfoBase:
      type: object
      required:
      - accountType
      - iban
      properties:
        accountType:
          type: string
          enum:
          - AED_ACCOUNT
        iban:
          type: string
          description: UAE IBAN (23 characters, starting with AE)
          example: AE070331234567890123456
          minLength: 23
          maxLength: 23
          pattern: ^AE[0-9]{21}$
        swiftCode:
          type: string
          description: The SWIFT/BIC code of the bank
          example: EBILAEAD
          minLength: 8
          maxLength: 11
          pattern: ^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$
      example:
        accountType: AED_ACCOUNT
        iban: AE070331234567890123456
        swiftCode: EBILAEAD
    PaymentBrlAccountInfo:
      title: BRL Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - type: object
        required:
        - qrCode
        properties:
          accountType:
            type: string
            enum:
            - BRL_ACCOUNT
          qrCode:
            type: string
            description: A PIX QR code payload that can be used to fund the transaction. This can be rendered as a QR code image or pasted into a PIX-compatible banking app.
            minLength: 1
    PaymentHkdAccountInfo:
      title: HKD Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/HkdAccountInfo'
      - type: object
        required:
        - reference
        properties:
          reference:
            type: string
            description: Unique reference code that must be included with the payment to properly credit it
            example: UMA-Q12345-REF
    PaymentInrAccountInfo:
      title: INR Account
      allOf:
      - $ref: '#/components/schemas/BasePaymentAccountInfo'
      - $ref: '#/components/schemas/InrAccountInfo'
    CardRefundSummary:
      type: object
      required:
      - count
      - totalAmount
      properties:
        count:
          type: integer
          description: Number of refund (return) events received for this transaction.
          example: 0
        totalAmount:
          type: integer
          format: int64
          description: Sum of all refund amounts in the smallest unit of the funding source's currency.
          example: 0
    NgnAccountInfo:
      allOf:
      - $ref: '#/components/schemas/NgnAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - BANK_TRANSFER
    BwpAccountInfo:
      allOf:
      - $ref: '#/components/schemas/BwpAccountInfoBase'
      - type: object
        required:
        - paymentRails
        properties:
          paymentRails:
            type: array
            items:
              type: string
              enum:
              - MOBILE_MONEY
    IncomingPaymentWebhookData:
      title: Incoming Payment Webhook Data
      allOf:
      - $ref: '#/components/schemas/IncomingTransaction'
      - type: object
        properties:
          requestedReceiverCustomerInfoFields:
            type: array
            items:
              $ref: '#/components/schemas/CounterpartyFieldDefinition'
            description: Information required by the sender's VASP about the recipient. Platform must provide these in the 200 OK response if approving. Note that this only includes fields which Grid does not already have from initial customer registration.
    Customer:
      type: object
      required:
      - umaAddress
      - platformCustomerId
      - customerType
      properties:
        id:
          type: string
          description: System-generated unique identifier
          readOnly: true
          example: Customer:019542f5-b3e7-1d02-0000-000000000001
        platformCustomerId:
          type: string
          description: Platform-specific customer identifier
          example: 9f84e0c2a72c4fa
        customerType:
          $ref: '#/components/schemas/CustomerType'
        region:
          type: string
          description: Country code (ISO 3166-1 alpha-2) representing the customer's regional identity and regulatory jurisdiction.
          example: US
        currencies:
          type: array
          items:
            type: string
          description: List of currency codes enabled for this customer.
          example:
          - USD
          - USDC
        email:
          type: string
          format: email
          description: Email address for the customer.
          example: john.doe@example.com
        phoneNumber:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
          description: Phone number for the customer in strict E.164 format.
          example: '+14155551234'
        umaAddress:
          type: string
          description: Full UMA address (always present in responses, even if system-generated). This is an optional identifier to route payments to the customer.
          example: $john.doe@uma.domain.com
        createdAt:
          type: string
          format: date-time
[...]
